<div id="wrapper" ng-controller="panelRecruiterCtrl" >

        <!-- Sidebar Menu Items -->
        <div class="sideContainer" ng-class="{ 'login' : onPage(['/login','/loading','/register','/exampleResume','/webResume','/publishedQuestionnaire','/questionnairesPreview','/resumePreview','/resumeAnswer','/main','/about','/aboutJobseeker','/aboutRecruiter','/chooseRole','/contactUs','/termsAndConditions','/help']) }">
	        
            <ul class="subMenuContainer" ng-controller="TutorialCtrl"> <!-- sideMenuItems -->
                
                <li ng-class="{ 'panel-container-active' : onPage(['/recruiterQuestionnaires','/newQuestionnaire','/insideQuestionnaire','/viewQuestionnaire','/viewAnswer']) }">
                    <div ng-click="onState('recruiterQuestionnaires')" ng-class="{ 'panel-link-active' : onPage(['/recruiterQuestionnaires','/newQuestionnaire','/insideQuestionnaire','/viewQuestionnaire','/viewAnswer']) }">
	                    <span>
	                    	<i class="fa fa-file-text-o"></i>
	                    </span>
	                    
	                    <span id="notificationQuestionnaries" ng-show="notificationQuestionnaries>0">
	                    	{{notificationQuestionnaries}}
	                    </span>
	                    
	                    My Questionnaires
	                </div>
                     
                     <ul uib-collapse="!onPage('/insideQuestionnaire')">

                        <li>
                            <div class="emailToSelectedClass disabled" ng-click="goToLink('emailToSelectedClass','sendTo','emailToSelected')" uib-popover="{{ tutorialRecruiterEmailToSelected }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                            <span class="emailToSelectedClass disabled">
	                            	<i class="fa fa-paper-plane-o"></i>
	                            </span>
	                            E-mail to Job Seeker
	                        </div>
                        </li>
                        <li ng-class="{ 'panel-sublink-active' : onPage('/questionnaires/edit') }">
                            <div class="sendSelectedClass disabled" ng-click="goToLink('sendSelectedClass','sendTo','emailSelected')" uib-popover="{{ tutorialRecruiterSendSelected }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                            <span class="sendSelectedClass disabled">
	                            	<i class="fa fa-paper-plane"></i>
								</span>
								Forward
							</div>
                        </li>
                        <li>
                            <div class="newQuestionnaireClass disabled" ng-click="goToLink('newQuestionnaireClass','recruiterQuestionnaires','newQ')" uib-popover="{{ tutorialRecruiterSendNewQuestionnaire }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                            <span class="newQuestionnaireClass disabled">
	                            	<i class="fa fa-pencil-square-o"></i>
	                            </span>
	                            Send Questionnaire
	                        </div>
                        </li>
                        <li>
                            <div ng-click="selectAll()">
	                            <span>
	                            	<i class="fa fa-users"></i>
	                            </span>
	                            {{ selectAllText }}
	                        </div>
                        </li>
                        
                    </ul>
                
                </li>
                
                <li  ng-class="{ 'panel-container-active' : onPage(['/searchAll']) }">
                    <div ui-sref="searchAll" ng-class="{ 'panel-link-active' : onPage(['/searchAll']) }" uib-popover="{{ tutorialRecruiterSearchAll }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                    <span>
	                    	<i class="fa fa-search-plus"></i>
	                    </span>
	                    
	                    Search Job Seekers
	                    
	                </div>
                    
                    <ul uib-collapse="!onPage('/searchAll')">
                        <li>
                            <div class="emailToSelectedClass disabled" ng-click="goToLink('emailToSelectedClass','sendTo','emailToSelected')" ng-class="{'disabled' : ''}" uib-popover="{{ tutorialRecruiterEmailToSelected }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                            <span class="emailToSelectedClass disabled">
	                            	<i class="fa fa-paper-plane-o"></i>
	                            </span>
	                            E-mail to Job Seeker
	                        </div>
                        </li>
                        <li ng-class="{ 'panel-sublink-active' : onPage('/questionnaires/edit') }">
                            <div class="sendSelectedClass disabled" ng-click="goToLink('sendSelectedClass','sendTo','emailSelected')" uib-popover="{{ tutorialRecruiterSendSelected }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                            <span class="sendSelectedClass disabled">
	                            	<i class="fa fa-paper-plane"></i>
								</span>
								Forward
							</div>
                        </li>
                        <li>
                            <div class="newQuestionnaireClass disabled" ng-click="goToLink('newQuestionnaireClass','recruiterQuestionnaires','newQ')" uib-popover="{{ tutorialRecruiterSendNewQuestionnaire }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                            <span class="newQuestionnaireClass disabled">
	                            	<i class="fa fa-pencil-square-o"></i>
	                            </span>
	                            Send Questionnaire
	                        </div>
                        </li>
                    </ul>
                    
                </li>
                <li ng-class="{ 'panel-container-active' : onPage('/favorites') }">
                    <div ng-click = "onState('favorites')" class="favouritesClass disabled" ng-class="{ 'panel-link-active' : onPage('/favorites') }" uib-popover="{{ tutorialRecruiterFavorites }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                    <span class="favouritesClass disabled">
	                    	<i class="fa fa-thumbs-up"></i>
						</span>
						My Favorites
					</div>
					
					<ul uib-collapse="!onPage('/favorites')">

                        <li>
                            <div class="emailToSelectedClass disabled" ng-click="goToLink('emailToSelectedClass','sendTo','emailToSelected')" uib-popover="{{ tutorialRecruiterEmailToSelected }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                            <span class="emailToSelectedClass disabled">
	                            	<i class="fa fa-paper-plane-o"></i>
	                            </span>
	                            E-mail to Job Seeker
	                        </div>
                        </li>
                        <li ng-class="{ 'panel-sublink-active' : onPage('/questionnaires/edit') }">
                            <div class="sendSelectedClass disabled" ng-click="goToLink('sendSelectedClass','sendTo','emailSelected')" uib-popover="{{ tutorialRecruiterSendSelected }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                            <span class="sendSelectedClass disabled">
	                            	<i class="fa fa-paper-plane"></i>
								</span>
								Forward
							</div>
                        </li>
                        <li>
                            <div class="newQuestionnaireClass disabled" ng-click="goToLink('newQuestionnaireClass','recruiterQuestionnaires','newQ')" uib-popover="{{ tutorialRecruiterSendNewQuestionnaire }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                            <span class="newQuestionnaireClass disabled">
	                            	<i class="fa fa-pencil-square-o"></i>
	                            </span>
	                            Send Questionnaire
	                        </div>
                        </li>
                        <li>
                            <div ng-click="selectAll()">
	                            <span>
	                            	<i class="fa fa-users"></i>
	                            </span>
	                            {{ selectAllText }}
	                        </div>
                        </li>
                        
                    </ul>
					
                </li>
                
                <li ng-class="{ 'panel-container-active' : onPage('/profile') }">
                    <div ui-sref="profile" ng-class="{ 'panel-link-active' : onPage('/profile') }">
	                    <span>
	                    	<i class="fa fa-user"></i>
						</span>Profile
					</div>
                </li>
                <li ng-class="{ 'panel-container-active' : onPage('/help') }">
                    <div ui-sref="help" ng-class="{ 'panel-link-active' : onPage('/help') }">
	                    <span>
	                    	<i class="fa fa-info-circle"></i>
						</span>Help
					</div>
                </li>
            </ul>
        </div>
</div>
    

