<div class="workAreaContainer" ng-controller="TutorialCtrl">
    
	<section class="resumeSection">
		
		<button id="btnPreviewQuestionnaire" class="btn btn-default" ng-click="previewAnket()" ng-show="showPreviewQuestionnaire" uib-popover="{{ tutorialRecruiterPreviewQuestionnaire }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true">
			Preview Questionnaire
		</button>
		
		
		<div ng-show="showPreviewQuestionnaire" class="text-center" style="margin-bottom:15px;">
		    <div style="margin-bottom:10px;" >
                <a uib-popover="{{ tutorialRecruiterLinkQuestionnaire }}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="open(linkToAnket)" id="linkToAnket">
			    {{linkToAnket}}
                </a>
            </div>
            
            <a href="mailto:?Subject=Link%20to%20a%20video%20questionnaire%20on%20ReelHire&Body=Hello%2C%0APlease%2C%20follow%20the%20link%20to%20fill%20in%20my%20video%20questionnaire%3A%0A{{linkToAnket}}" class="btn btn-default">Share Link</a>
            
            <a data-clipboard-target="#hiddenInputLinkQuestionnaire" class="btn btn-default btnCopyToClipboard" style="margin-left:8px;">Copy Link</a> 
		</div>
		
		
		<div class="form-group searchContainer">
			<input ng-model="searchText" class="form-control" id="inputSearch" placeholder="Search"/>
		</div>
		
		<select ng-model="sortBy.sort" ng-options="sort for sort in sortOptions" ng-change="onSortChanged()" class="form-control" id="drpdSortBy" >
		   <option value="">Sort By</option> 
		</select>
		
		<select ng-model="filterBy.category" ng-options="filter for filter in filters.categories" ng-change="onCategoryChange()" class="form-control" id="drpdFilterBy" >
		</select>
		
		<select ng-model="filterBy.filter" ng-options="filter for filter in filters.filters" ng-change="onFilterChange()" class="form-control" id="drpdFilterBy2" ng-disabled="!isSelectSecondFilter">
		   <option value="">{{emptyFilter}}</option> 
		</select>
		
		<fieldset class="clear">
			<legend class="legendActiveFilters">Active Filters: {{activeFilters.length>0?'':'none'}}</legend>
			<div ng-repeat="activeFilter in activeFilters">
				<div class="activeFilterContainer">
					<span>{{activeFilter.category}} > {{activeFilter.filter}}</span>
					<div class="filterDeleteContainer" ng-click="deleteFilter(activeFilter)">Delete</div>
				</div>
			</div>	
		</fieldset>
		
		<fieldset>
			<legend class="legendCandidates">Candidates</legend>  <!-- ng-show = "canddidatesTest()" -->
            
            <div class="text-center" ng-show="explanaitionPopupCheck()">
                 <p class="ctnrInsideQuestionnaireExplanation">
                    Answers to your questionnaire will appear here
                </p>
                <a ui-sref="searchAll" class="btn btn-default" uib-popover="{{ tutorialRecruiterSearchJobseekers }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true">Search ReelHire Job Seekers</a>
            </div>
            
			<div ng-repeat="candidate in candidates | filter:checkForOutSideResume | filter:searchText | filter: customFilter | orderBy:sortedFunction as filteredCandidates " ng-show="filteredCandidatesFn(filteredCandidates)"><!-- ng-show="selectAll(filteredCandidates)" -->
				<div class="candidateContainerRecruiter">
					<input class="candidateCheckbox" ng-model="candidate.isSelected" ng-change="countSelectedCandidates()" type="checkbox" ng-checked="isChecked">
					<div class="candidateInnerContainer"  ng-click="candidateClick(candidate)" uib-popover="{{ tutorialRecruiterSeeCandidateQuestionnaire }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true">
						<img class="candidateContainerPhoto" ng-src={{candidate.photo_url}}>
						<span class="candidateContainerName">{{candidate.first_name}} {{candidate.last_name}}</span>
						<div class="candidateContainerStars">
							<i class="fa fa-star" ng-class="{liked:candidate.rank>0}"></i>
							<i class="fa fa-star" ng-class="{liked:candidate.rank>1}"></i>
							<i class="fa fa-star" ng-class="{liked:candidate.rank>2}"></i>
							<i class="fa fa-star" ng-class="{liked:candidate.rank>3}"></i>
							<i class="fa fa-star" ng-class="{liked:candidate.rank>4}"></i>
						</div>
						<span class="candidateContainerStatus" ng-show="candidate.isNew">New</span>
						<span class="candidateContainerDate">{{candidate.date}}</span>
					</div>
					<div class="candidateToFavourites" ng-class="{liked:isFavorite(candidate)}" ng-click="setFavorite(candidate)" uib-popover="{{ tutorialRecruiterAddToFavourites }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true"><i class="fa fa-thumbs-up"></i></div>
				</div>
			</div>	
			
			
			
		</fieldset>
	</section>
    <input style="opacity:0;" id="hiddenInputLinkQuestionnaire" value="{{linkToAnket}}">
</div>

<script>
    new Clipboard('.btnCopyToClipboard');
</script>