#btnPreviewQuestionnaire
{
	margin-bottom: 10px;
	width: 100%;
	color: rgb(54,54,54);
	border-color: rgb(188,196,200);
}

#btnPreviewQuestionnaire:hover
{
	background: rgb(188,196,200);
	color: white;
}

.searchContainer
{
	width: 100%;
}
#linkToAnket
{
	text-align: center;
    font-size: large;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0,176,80);
    margin-bottom: 10px;
}

.ctnrInsideQuestionnaireExplanation
{
    padding:20px;
    background: rgb(236,241,242);
    border-radius: 4px;
}

#drpdSortBy,#drpdFilterBy,#inputSearch
{
	margin-bottom: 10px;
}

#drpdFilterBy
{
	width:410px;
	float: left;
}

#drpdFilterBy2
{
	width: 410px;
	float: right;
}

.clear
{
	clear: both;
}

.activeFilterContainer
{
	position: relative;
	width: 100%;
	background: rgb(236,241,242);
	padding: 5px 0 5px 10px;
	margin: 0 0 10px 0;
}

.filterDeleteContainer
{
	position: absolute;
	top:0px;
	right: 0px;
	padding: 5px 16px 5px 14px;
	border-left: 1px solid rgb(188,196,200);
	background: rgb(236,241,242);
	color: #FF5656;
	cursor: pointer;
}

.filterDeleteContainer:hover
{
	background: #FF5656;
	color: white;
}

.legendActiveFilters,.legendCandidates
{
	margin-bottom: 10px;
}

.candidateContainerRecruiter
{
	position: relative;
	width: 100%;
	height: 60px;
	background: rgb(236,241,242);
	margin-bottom: 10px;
	cursor: pointer;
}

.candidateInnerContainer
{
    margin-left: 45px;
	height: 60px;
	width: 716px;
}

.candidateContainerRecruiter:hover
{
	background: #d8dfe1;
}

.candidateContainerRecruiter:hover .candidateContainerDate
{
	color: white;
}

.candidateCheckbox
{
	position: absolute;
	top:23px;
	left: 15px;
}

.candidateContainerPhoto
{
	position: absolute;
	top:0px;
	left: 45px;
	width: 60px;
	height: 60px;
	border: 0 solid transparent;
	background: white;
	text-align: center;
}

.candidateContainerName
{
	position: absolute;
	top:9px;
	left:118px;
}

.candidateContainerStars
{
	position: absolute;
	left:118px;
	top:32px;
	color: rgb(188,196,200);
}

.candidateContainerStars i
{
	display: inline-block;
}

.candidateContainerStatus
{
	position: absolute;
	top: 20px;
	right: 85px;
	color: rgb(0,176,80);
}

.candidateContainerDate
{
	position: absolute;
	top:42px;
	right: 85px;
	color: rgb(188,196,200);
	font-size: 10px;
}

.candidateToFavourites
{
	position: absolute;
	top:0px;
	right: 0px;
	padding: 7px 20px 10px 20px;
	border-left: 1px solid rgb(188,196,200);
	background: rgb(236,241,242);
	color: rgb(188,196,200);
	font-size: 30px;
	box-sizing: border-box;
	cursor: pointer;
}


.candidateToFavourites:active
{
    outline-color: rgba(188,196,200,0.7);
    outline-style: solid;
    outline-width: 3px;
    outline-offset: -1px;
	transform: scale(0.94);
}

.liked
{
/*    background: rgb(0,176,80);*/
	color: rgb(0,176,80);
}




