/*!
betajs-video-recorder - v1.0.0 - 2015-12-29
Copyright (c) Ziggeo
Closed Source Software License.
*/
/*
   Animation example, for spinners
*/
.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block; }

@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }
.video-recorder-outer {
  position: relative; }

.video-recorder-flash {
  background-color: #ECF1F2; }

.video-recorder-message-view {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  background-color: white;
  text-align: center;
  left: 0px;
  top: 0px;
  right: 0px;
  padding: 1% 1% 1% 1%;
  font: 500 12px/14px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-recorder-simple-message-view {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  text-align: center;
  color: black;
  left: 0px;
  top: 0px;
  right: 0px;
  padding: 1% 1% 1% 1%;
  font: 500 12px/14px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-recorder-waiting-for-flash-view {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  color: white;
  opacity: 1;
  text-align: center;
  left: 0px;
  top: 50%;
  right: 0px;
  padding: 1% 1% 1% 1%;
  font: 500 12px/14px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-recorder-message-view-error {
  background-color: red;
  color: white; }

.video-recorder-message-view-action {
  background-color: green;
  color: white; }

.video-recorder-message-view a {
  color: blue;
  text-decoration: none; }

.video-recorder-message-view a:hover {
  text-decoration: underline; }

.video-recorder-message-view-error a, .video-recorder-message-view-error a:hover {
  color: yellow; }

.video-recorder-message-view-action a, .video-recorder-message-view-action a:hover {
  color: yellow; }

.video-recorder-chrome-arrow-view-default {
  position: fixed;
  top: 400px;
  z-index: 10000;
  font-size: 200px;
  line-height: 200px;
  text-align: center;
  color: black;
  text-weight: bold;
  font-family: Helvetica;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  transition: top 2s;
  right: 10px; }

.video-recorder-chrome-arrow-view-windows {
  position: fixed;
  top: 400px;
  z-index: 10000;
  font-size: 200px;
  line-height: 200px;
  text-align: center;
  color: black;
  text-weight: bold;
  font-family: Helvetica;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  transition: top 2s;
  left: 0px; }

.video-recorder-security-left-view, .video-recorder-security-right-view {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  top: 50%;
  color: white;
  text-weight: bold;
  font-family: Helvetica;
  text-align: center; }

.video-recorder-security-left-view {
  left: 0px; }

.video-recorder-security-right-view {
  right: 0px; }

.video-recorder-countdown-view {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  background-color: gray;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  left: 50%;
  top: 50%; }

.video-recorder-countdown-view-green {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  background-color: green;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  left: 50%;
  top: 50%; }

.video-recorder-timer-view {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  font: Courier, monospace;
  background-color: gray;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: 5%;
  right: 2%;
  top: 2%;
  padding-left: 1.9%;
  padding-right: 1.9%; }

.video-recorder-blinking-record {
  border-radius: 50%;
  background-color: red; }

.video-recorder-bar-button-view {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  background-color: #646464;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#646464), to(#282828));
  background-image: -webkit-linear-gradient(top, #646464, #282828);
  background-image: -moz-linear-gradient(top, #646464, #282828);
  background-image: -ms-linear-gradient(top, #646464, #282828);
  background-image: -o-linear-gradient(top, #646464, #282828);
  background-image: linear-gradient(to bottom, #646464, #282828);
  color: white;
  box-shadow: 0px 2px 3px black, inset 0px 2px 3px gray;
  font: Courier, monospace;
  padding: 4px 4px 2px 4px;
  margin: 2px 2px 2px 2px;
  opacity: 0.8; }

.video-recorder-bar-button-view:hover {
  opacity: 1.0; }

.video-recorder-bar-button-view-disabled, .video-recorder-bar-button-view-disabled:hover {
  color: gray; }

.video-recorder-button-bar-view {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  opacity: 0.95;
  background-color: #222222;
  bottom: 2%;
  padding: 2px 2px 2px 2px;
  border-radius: 4px; }

.video-recorder-progress-bar {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  width: 90%;
  height: 10%;
  bottom: 5%;
  left: 5%;
  background-color: #222222;
  padding: 2px 2px 2px 2px;
  border-radius: 4px; }

.video-recorder-progress-bar-outer {
  background-color: white;
  position: absolute;
  left: 2px;
  right: 2px;
  top: 2px;
  bottom: 2px; }

.video-recorder-progress-bar-inner {
  background-color: #949494;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#949494), to(#686868));
  background-image: -webkit-linear-gradient(top, #949494, #686868);
  background-image: -moz-linear-gradient(top, #949494, #686868);
  background-image: -ms-linear-gradient(top, #949494, #686868);
  background-image: -o-linear-gradient(top, #949494, #686868);
  background-image: linear-gradient(to bottom, #949494, #686868);
  color: white;
  box-shadow: 0px 2px 3px black, inset 0px 2px 3px gray;
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px; }

.video-recorder-snapshot-frame-view {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  border: 4px solid black;
  opacity: 0.25;
  background-color: white;
  cursor: pointer;
  box-sizing: content-box; }

.video-recorder-snapshot-frame-view:hover {
  border: 4px solid white;
  background-color: transparent;
  opacity: 1; }

.video-recorder-snapshot-frame-view-ie {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  border: 4px solid black;
  opacity: 0.25;
  filter: alpha(opacity=25);
  background-color: white;
  cursor: pointer; }

.video-recorder-snapshot-frame-view-ie:hover {
  border: 4px solid white;
  background-color: white;
  opacity: 0.01;
  filter: alpha(opacity=1); }

.video-recorder-tutorial {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  width: 100%;
  height: 100%;
  z-index: 3;
  top: 0px;
  opacity: 1;
  background-color: white;
  overflow: scroll; }

.video-recorder-tutorial .flash-tutorial-image {
  background-image: url("adobe-flash-settings.png");
  background-size: cover;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.video-recorder-tutorial .flash-back-link {
  position: absolute;
  z-index: 4;
  bottom: 0px;
  text-align: center;
  left: 0px;
  right: 0px; }

.video-recorder-tutorial {
  padding: 15px 15px 15px 15px;
  box-sizing: border-box; }

.video-recorder-tutorial p {
  color: #444;
  font: 16px/22px Arial, sans-serif;
  margin: 0 0 10px 0; }

.video-recorder-tutorial strong {
  color: #000; }

.video-recorder-tutorial a {
  color: #ed4723; }

.video-recorder-tutorial .heading {
  text-transform: uppercase;
  font-weight: 700;
  color: #000; }

.video-recorder-tutorial ul {
  margin: 0 0 10px 0;
  padding: 0;
  font: 16px/22px Arial, sans-serif; }

.video-recorder-tutorial ul li {
  margin: 0 0 6px 0;
  padding: 0 0 0 1em;
  text-indent: -1em;
  list-style-type: circle;
  list-style-position: inside; }

.video-recorder-initial {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0px;
  left: 0px;
  opacity: 1;
  background-color: #ECF1F2;
  text-align: center;
  display: table; }

.video-recorder-font {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-recorder-initial .inner-container {
  display: table-cell;
  vertical-align: middle; }

.video-recorder-initial .hero-img {
  margin: 28px auto 0 auto;
  display: block;
  font-size: 48px;
  color: #fff; }

.video-recorder-initial p {
  font: 500 12px/15px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-recorder-initial p a {
  color: #333;
  font-size: 11px; }

.video-recorder-initial p a i {
  color: #2ab; }

.video-recorder-initial .btn-primary {
  background-color: #ed4723;
  display: inline-block;
  font: 300 16px/38px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto 30px auto;
  border-radius: 3px;
  color: white; }

.video-recorder-initial .btn-primary:hover {
  text-decoration: none;
  background-color: #c00;
  color: white; }

.video-recorder-initial a:hover {
  text-decoration: none; }

.video-recorder-initial a {
  text-decoration: none; }

.video-recorder-progress {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0px;
  left: 0px;
  opacity: 1;
  background-color: #ECF1F2;
  text-align: center;
  text-align: center; }

.video-recorder-progress .progress-label {
  position: absolute;
  top: 33%;
  text-align: center;
  width: 100%;
  font: 300 16px/24px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-recorder-progress .progress-spinner {
  position: absolute;
  top: 66%;
  font-size: 30px;
  margin-left: -15px;
  left: 50%; }

.video-recorder-error {
  position: absolute;
  z-index: 2;
  opacity: 0.7;
  color: black;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0px;
  left: 0px;
  opacity: 1;
  background-color: #b4e0e3;
  text-align: center; }

.video-recorder-error .error-label {
  position: absolute;
  top: 25%;
  text-align: center;
  width: 100%;
  font: 300 16px/24px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-recorder-error .call-to-action {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  left: 0px;
  right: 0px; }

.video-recorder .btn-default {
  
    border: none;
    position: absolute;
    min-width: 80px;
    outline: none;
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 0 10px 0 10px;
    background-color: rgb(0,176,80);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 4px;
    font: 500 12px/30px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    cursor: pointer; }

.video-recorder .btn-default.on {
  color: #fff;
  background-color: #c00; }

.video-recorder .btn-default:hover {
  color: #fff;
  background-color: #f00;
  text-decoration: none; }

.video-recorder .btn-outline {
  outline: none;
  color: #666;
  position: absolute;
  text-decoration: none;
  text-align: center;
  margin: 10px 10px 10px 10px;
  padding: 0 10px 0 10px;
  background-color: transparent;
  border: 1px solid #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  font: 500 12px/30px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  cursor: pointer; }

.video-recorder .btn-outline:hover {
  border-color: #f00; }

.video-recorder .btn-link {
  outline: none;
    text-decoration: none;
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 0 10px 0 10px;
    min-width: 30px;
    line-height: 27px;
    height: 30px;
    color: #fff;
    border: 1px solid rgb(0,176,80);
    background: transparent;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 4px;
    font: 500 12px/30px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    cursor: pointer;}

.video-recorder .btn-link:hover {
  background: inherit;
  background-color: #333;
  border: 1px solid #999; }

.video-recorder .btn-link.active {
  background-color: #333;
  border: 1px solid #999; }

.video-recorder .btn-link i.bjs-icon-circle {
  font-size: 11px;
  color: #3f3; }

.video-recorder .btn-link i.bjs-icon-circle.off {
  color: #f00; }

.video-recorder-dashboard-under {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0px;
  z-index: 9998;
  opacity: .3;
  background: linear-gradient(#BBB, #000); }

.video-recorder-dashboard {
  position: absolute;
  height: 50px;
  width: 100%;
  bottom: 0px;
  z-index: 9999;
  color: white; }

.video-recorder-message-under {
  position: absolute;
  height: 30px;
  width: 100%;
  top: 0px;
  z-index: 9998;
  opacity: .5;
  background: linear-gradient(#000, #BBB);
  text-align: center; }

.video-recorder-message-under-large {
  position: absolute;
  height: 60px;
  width: 100%;
  top: 0px;
  z-index: 9998;
  opacity: .5;
  background: linear-gradient(#000, #BBB);
  text-align: center; }

.video-recorder-message {
  position: absolute;
  height: 30px;
  width: 100%;
  top: 0px;
  z-index: 9999;
  color: white;
  padding: 5px 5px 5px 5px;
  text-align: center;
  font-weight: bold;
  font: 500 14px/16px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-recorder.input-options {
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  max-width: 160px;
  bottom: 50px;
  padding: 10px 12px;
  border-radius: 3px; }

.video-recorder.input-options.mic {
  margin: 0 20px 0 60px; }

.video-recorder.input-options.settings {
  margin: 0 12px; }

.video-recorder.input-options .radio {
  font: 300 11px Arial, sans-serif;
  margin: 0;
  color: #000; }

.video-recorder.input-options .radio input[type='radio'], .video-recorder.input-options .radio label {
  vertical-align: middle;
  margin-top: 2px; }

.video-recorder.input-options.mic:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 20px;
  border-top: 10px solid blue;
  border-top-color: rgba(255, 255, 255, 0.8);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

.video-recorder.input-options.settings:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 6px;
  border-top: 10px solid blue;
  border-top-color: rgba(255, 255, 255, 0.8);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent; }

.video-recorder.input-options button.btn-default.btn-xs {
  margin: 4px 0;
  padding: 6px 20px;
  color: #000;
  background-color: #bbb;
  border-radius: 3px;
  font: 300 11px Arial, sans-serif; }

.video-recorder-face-position {
  background: transparent url("face-position.svg") center center no-repeat;
  background-size: 100%;
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0; }

.video-uploader-upload-input {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0px;
  top: 0px;
  z-index: 100; }

.video-uploader-progress {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ECF1F2;
  text-align: center; }

.video-uploader-progress .progress-label {
  position: absolute;
  top: 33%;
  text-align: center;
  width: 100%;
  font: 300 16px/24px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-uploader-progress .progress-spinner {
  position: absolute;
  top: 66%;
  font-size: 30px;
  margin-left: -15px;
  left: 50%; }

.video-uploader-upload {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #ECF1F2;
  text-align: center;
  display: table; }

.video-uploader-upload .inner-container {
  display: table-cell;
  vertical-align: middle; }

.video-uploader-upload .hero-img {
  margin: 28px auto 0 auto;
  display: block;
  font-size: 48px;
  color: #fff; }

.video-uploader-upload p {
  font: 500 12px/15px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-uploader-upload p a {
  color: #333;
  font-size: 11px; }

.video-uploader-upload p a i {
  color: #2ab; }

.video-uploader-upload .btn-primary {
  background-color: #ed4723;
  display: block;
  font: 300 16px/38px 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  height: 40px;
  width: 160px;
  margin: 0 auto 30px auto;
  border-radius: 3px;
  color: white; }

.video-uploader-upload .btn-primary:hover {
  text-decoration: none;
  background-color: #c00;
  color: white; }

.video-uploader-upload a:hover {
  text-decoration: none; }

.video-uploader-upload a {
  text-decoration: none; }

.video-uploader-upload .progress-label {
  position: absolute;
  top: 33%;
  text-align: center;
  width: 100%;
  font: 300 16px/24px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-uploader-upload .progress-spinner {
  position: absolute;
  top: 66%;
  font-size: 30px;
  margin-left: -15px;
  left: 50%; }

.video-uploader-error {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #b4e0e3;
  text-align: center; }

.video-uploader-error .error-label {
  position: absolute;
  top: 25%;
  text-align: center;
  width: 100%;
  font: 300 16px/24px 'Helvetica Neue', 'Helvetica', Arial, sans-serif; }

.video-uploader-error .call-to-action {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  left: 0px;
  right: 0px; }

/*# sourceMappingURL=betajs-video-recorder-ui.css.map */