    <div class="workAreaContainer" ng-cloak>
		<section>
			<form role="form" class="emailSendTo" >
				
				<label for="name">Email From</label>
				<div class="form-group">
					<input ng-model="emailFrom.text" class="form-control" id="emailFrom" placeholder="Email From" ng-pattern="emailPattern"
                            ng-focus="emailFrom.error=false" ng-class="{ error: emailFrom.error }" ng-blur="checkEmailFrom()"/>
				</div>
				
				<label for="name">Email To</label>
				<div class="form-group">
					<input ng-model="emailTo.text" class="form-control" id="emailTo" placeholder="Email To" ng-pattern="emailPattern"
                            ng-focus="emailTo.error=false" ng-class="{ error: emailTo.error }" ng-blur="checkEmailTo()"/>
				</div>
				
				<label for="name">Subject</label>
				<div class="form-group objMargin">
					<input ng-model="subject.text" class="form-control" id="subject" placeholder="Subject"
                        ng-focus="subject.error=false" ng-class="{ error: subject.error }" />
				</div>
				
				<label for="name">Email Body</label>
				<div class="form-group objMargin">
					<textarea ng-model="emailBody" class="form-control" id="emailBody" placeholder="Email Body"/>
				</div>
			
			</form>
			
			<table>
				<tr>
						<p class="emailTitle">
							{{emailTitle}}
						</p>
				</tr>
			</table>
			<div ng-repeat="candidate in candidateList " >
				<br><div class="candidateContainer">
						 <table >
							 <tr>
							 	<td id="photoContainer">
								 	<img ng-src={{candidate.photoLink}} id="photo" ng-cloak>
							 	</td>
							 	<td> 
									<div id="nameContainer">
										<p id="candidateName">{{candidate.firstName}}</p>
										<p id="candidateName">{{candidate.lastName}}</p>
									</div>
							  
									<div title="Link to full version" style="padding: 0 0 20px 0;">
										<a href='http://scibeaver.com/seemehireme3/redirect.php?resume={{candidate.resumeId}}' id="button" target="_blank">Go to full resume</a>
									</div>
							 	</td>
							 </tr>
						 </table>
				</div>
			</div>
			<br>

				   	 <tr>
					    <td  class="emailTitle" >
					      <p id="texts" >
					      This email was generated using ReelHire. You can always <a href="http://www.google.com/" style="color:#00b050;text-decoration:underline;" >unsubscribe instantly</a>.</p>
					    </td>
					</tr>
					  
					  
					<tr>
					    <td  class="emailTitle" >
					      <p id="texts" >
					      	1545 Charleston Road, Mountain View, CA 94043. Email: ira.krivonos@gmail.com
					      </p>
					    </td>
					</tr>
					  
					  
					<tr>
					    <td  class="emailTitle" >
					      <p id="texts" >
					     <a href="http://www.google.com/policies/privacy/" style="color:#00b050;text-decoration:underline;" >Privacy Policy</a></p>
					    </td>
					</tr>

		<div id="btnContainerSendTo">
				<button id="btnSend" type="button" class="btn btn-default objMargin" ng-click='sendEmail()'>Send</button>
		</div>
		
		</section>
 </div>
