<div id="resumeTop" ng-show="!isMobile">
	 <div class="container-fluid resumePadding">
	 </div>
</div>



<div id="questionnaireTop">
 	<div class="container-fluid" ng-class="{positionMobile:isMobile, position:!isMobile}">
		 <div id="positionContainer">
		 	<img id="companyLogoWebResume" ng-src="{{ jobseekers.companyLogo }}">
		 	<div id="informationContainer">
			 	<p class="companyname">
                 {{  jobseekers.companyName }}
                 </p>
			 	<p class="positionname">{{  jobseekers.companyPosition }}</p>
			 	<p class="additionalinfo">{{  jobseekers.companyInfo }}</p>
		 	</div>
		 </div>
	</div>
    
</div>
 
	<!--  rating stars -->
<div class="answerRatingContainer" ng-show="showRating&&isMobile">
	<div class="answerRatingStars">
		<i class="invisible-star" ng-click="newRating('0')"></i>
		<i class="fa fa-star" ng-class="{liked:jobseekers.rank>0}" ng-click="newRating('1')"></i>
		<i class="fa fa-star" ng-class="{liked:jobseekers.rank>1}" ng-click="newRating('2')"></i>
		<i class="fa fa-star" ng-class="{liked:jobseekers.rank>2}" ng-click="newRating('3')"></i>
		<i class="fa fa-star" ng-class="{liked:jobseekers.rank>3}" ng-click="newRating('4')"></i>
		<i class="fa fa-star" ng-class="{liked:jobseekers.rank>4}" ng-click="newRating('5')"></i>
	</div>
	<label class="answerRatingDescription">Rate</label>
    <label class="answerRatingDescription2">Make it Favorite</label>
	<div class="candidateToFavourites" ng-class="{liked:isFavorite()}" ng-click="setFavorite()" ><i class="fa fa-thumbs-up"></i></div>
</div>
	<!-- ---------- -->

 <section class="container resumeWebVersion">

	<button class="btn btn-default btnWindowHistoryBack btnBackAdjustment" ng-click='goBack()' ng-show="showBackButton"><span><i class="fa fa-chevron-left"></i> Back</span></button>
	  
	<div class="row"> 
		<div class="col-sm-12 nameHelper">
			<div id="name"></div>
			
            
            
            <a class="linkedIn" ng-class="{disabledLink:!jobseekers.linkedIn}" title="Link to my LinkeIn account" ng-click="openLinkedIn()">
				<div>
					<i class="fa fa-linkedin-square"></i>
					<div id="hoverBlinkL"></div>
				</div>
			</a>
            
			<a class="additionalLink"  ng-class="{disabledLink:!jobseekers.additionalLink}" title="Additional Link" ng-click="openAdditionalLink()">
				<div>
                    <i class="fa fa-external-link-square"></i>
					<div id="hoverBlinkA"></div>
				</div>
			</a>
			
            <a id="openInRealHire" title="Open in ReelHire Application" target="_blank" ng-click="openApp()">
				<div>
                    <img src="../../app/topbar/images/logo_green_square3.png" width="26px">
					<div id="hoverBlinkR"></div>
				</div>
			</a>
			
			<a id="linkToWebResume" ng-show="showLink" title="Click to copy a link to this resume" uib-popover="{{ linkToCurrentResume }}" popover-placement="left" popover-trigger="click" popover-append-to-body="true">
				<div>
					<i class="fa fa-link"></i>
					<div id="hoverBlinkC"></div>
				</div>
			</a>
		</div>
	</div>
	
     
     
	<div class="row"> 
		<div class="col-sm-3 PhotoHelper">
			<img ng-src="{{ jobseekers.photo_url }}" width="180px" height="180px">
		</div>
		 
		<div class="col-sm-9 container-fluid basicInfoHelper">
			 
			 <div id="basicInfo">
				 <p>{{jobseekers.location}}</p>

                 <p style="padding-bottom:10px;">{{ jobseekers.email }}</p>
                 
                <table>
	                <tr>
                        <td>Industry Desired:&nbsp;&nbsp;&nbsp;</td>
                        <td class="boldFont">{{ jobseekers.industrydesired }}</td>
                    </tr>
                     <tr>
                        <td>Experience:</td>
                        <td class="boldFont">{{ jobseekers.expirience }}</td>
                    </tr>
                    <tr>
                        <td>Education:</td>
                        <td class="boldFont">{{ jobseekers.education }}</td>
                    </tr>
                    <tr>
                        <td>Area of Study:</td>
                        <td class="boldFont">{{ jobseekers.areaofstudy }}</td>
                    </tr>
                    <tr>
                        <td>Able to Relocate:</td>
                        <td class="boldFont">{{ abletorelocate }}</td>
                    </tr>
                </table>
                 
			 </div>
                
			 <div ng-click="sendEmail()" class="btnHireMe">Hire Me</div>
            
		</div>
	</div>

	<div class="row"> 
		
		<div class="col-sm-12 videoHelper">
		 
		 	<iframe src="{{ videoAnswer }}" allowfullscreen="allowfullscreen" mozallowfullscreen="mozallowfullscreen" msallowfullscreen="msallowfullscreen" oallowfullscreen="oallowfullscreen" webkitallowfullscreen="webkitallowfullscreen" width="640" height="360" frameborder="0" id="videoAnswer" onStateChange="onStateChangeTest()"></iframe>

			<div id="questionContainer">
				
				 <ul>
					 <p class="boldFont">Video Questions Answered</p>
					 <li><p>{{ jobseekers.video1_title }}</p></li>
					 <li id="q2"><p>{{ jobseekers.video2_title }}</p></li>
					 <li id="q3"><p>{{ jobseekers.video3_title }}</p></li>
					 <li id="q4"><p>{{ jobseekers.video4_title }}</p></li>
				 </ul>
				 
            </div>
		</div>
     </div>
</section>
<br>
<br>
<br>
<script src="https://www.youtube.com/iframe_api"></script>