.boldFont
{
	font-weight: 700;
}

/* QUESTIONNAIRE */
.invisible-star
{
	color: rgba(1,1,1,0);
	background-color: rgba(1,1,1,0);
	margin-left: -35px;
	width: 25px;
    height: 25px;
}
.resumePadding
{
	padding: 48px 0 10px 0;
}
.answerRatingContainer
{
	position: relative;
	width: 800px;
	margin: 0 auto 0 auto;
	height: 60px;
	background: rgb(236,241,242);
	margin-top: 15px;
}


.answerRatingStars
{
	position: absolute;
	top:12px;
	left: 30px;
	font-size: 25px;
	color: rgb(188,196,200);
	cursor: pointer;
}

.answerRatingStars i
{
	display: inline-block;
}

.answerRatingDescription
{
	position: absolute;
	top:19px;
	left: 180px;
/*    font-size: 15px;*/
}

.answerRatingDescription2
{
	position: absolute;
	top:19px;
	right: 90px;
/*    font-size: 15px;*/
}

.position
{
	padding: 67px 0 10px 0;
	width: 100%;
	background: #ecf0f1;
	line-height: 1.2;
}
.positionMobile
{
	padding: 10px 0 10px 0;
	width: 100%;
	background: #ecf0f1;
	line-height: 1.2;
}

#positionContainer
{
	text-align: justify;
	position: relative;
	max-width: 400px;
	margin: 0 auto 0 auto;
	padding: 0 0 0 15px;
}

#informationContainer
{
	padding: 0px 10px 0 0;
}

#informationContainer p
{
	margin: 0 0 5px 0;
}

#companyLogoWebResume
{
	float: left;
	margin: 0 15px 0px 0;
	padding: 0 0 10px 0;
	width: 70px;
	height: 70px;
}

.companyname
{
	font-size: 14px;
	color: rgb(188,196,200);
}

.positionname
{
	font-size: 16px;
	color: rgb(54,54,54);
	font-weight: bold;
}

.additionalinfo
{
/*	font-size: 14px;*/
	color: rgb(54,54,54);
}

/* ---------------------------- */

.resumeWebVersion
{
	position: relative;
	width: 800px;
}

.row
{
	padding: 15px 0 0 0;
}

/* NAME */
.nameHelper
{	
	padding: 0 0 0 0;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #bdc3c7;
}

#name
{
    float: left;
	max-width: 68%;
}

#linkToWebResume
{
	margin: 3px;
    float: right;
    padding-top: 4px;
    color: #FC6D2F;
    font-size: 27px;
    cursor: pointer;
    transition-duration: 0.6s;
    transition-property: transform;
}

.linkedIn, .linkedIn:hover 
{
	margin: 3px;
	float: right;
	top:0px;
	color:#0177b5;
	font-size: 30px;
	cursor: pointer;
	transition-duration: 0.6s;
    transition-property: transform;
}

.additionalLink, .additionalLink:hover
{
	margin: 3px;
	float: right;
	top:0px;
	color:#F8A01F;
	font-size: 30px;
	cursor: pointer;
	transition-duration: 0.6s;
    transition-property: transform;
}

#openInRealHire
{
	margin: 3px;
	float: right;
	margin-top: 12px;
	cursor: pointer;
	transition-duration: 0.6s;
    transition-property: transform;
}



.btnHireMe
{
    position: absolute;
    top: 0px;
    right: 0px;
    color: white !important;
    cursor: pointer;
    text-decoration: none;
/*    font-size: 15px;*/
    font-weight: bold;
    border: 1px solid #007033;
    padding: 5px 50px;
    cursor: pointer;
    border-radius: 4px;
/*    background: #0ACB25;*/
/*    background: -webkit-linear-gradient(#0ACB25 0%, rgb(0,176,80) 95%) !important;*/
    background: -webkit-linear-gradient(#0ACB25 0%, rgb(0,176,80) 40%) !important;
    background: linear-gradient(#0ACB25 0%, rgb(0,176,80) 40%) !important;
/*    box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.3);*/
    transition-duration: 0.6s;
    transition-property: transform,box-shadow;
}

.btnHireMe:hover
{
    transform: scale(1.04);
    transition-duration: 0.15s;
    box-shadow: 0 3px 6px 0px rgba(54,54,54,0.2);
}

.linkedIn:hover, .additionalLink:hover,#openInRealHire:hover,#linkToWebResume:hover
{
    transform: scale(1.1);
    transition-duration: 0.15s;
}



/* Photo */

.zeroPadding
{
	padding: 0px;
}

.PhotoHelper
{
    position: relative;
	padding: 0;
	text-align: left;
	height: 180px;
    cursor: pointer;
}


.basicInfoHelper
{
	height: 180px;
	padding: 0;
}

#basicInfo
{
	padding: 10px 0 0 5px;
}

#basicInfo p
{
/*	font-size: 14px;*/
	line-height: 11px
}


/*---------------------*/



/*---------------------*/

/* Video */

.videoHelper
{
	padding: 0;
	position: relative;
}

#youtubebutton
{
	position: absolute;
	top:0;
	left:0;
}

#videoAnswer
{
	position: relative;
	width: 100%;
	z-index: 1;
}
#localVideo
{
	width: 100%;
	z-index: 1;
}
#iconOnVideo
{
	position: absolute;
	width: 10%;
	top: 6%;
	left: 1.5%;
}
#curtainOnVideo
{
	position: absolute;
    width: 100%;
    height: 6.6%;
    top: 0;
    background-color: black;
    opacity: 0.7;
}
#textOnVideo
{
	position: absolute;
    width: 100%;
    top: 6px;
    color: white;
    text-align: center;
    font-size: large;
}

#questionContainer
{
	width: 100%;
	z-index: 10;
	display: block;
	margin: -2px 0 0 0;
	border-top: 0px solid #bdc3c7;
	border-bottom: 1px solid #bdc3c7;
    padding-left: 12px;
}

#questionContainer li
{
	list-style: decimal;
	list-style-position: outside;
}

#questionContainer p
{
	line-height: 20px;
}

#questionContainer ul
{
	padding: 8px 25px 0px 15px;
}

/* Button */

.btnBackAdjustment{
	position: absolute;
	left: -100px;
	top: 22px;
	border: 0px solid transparent;
	color: rgb(54,54,54);
}

#buttonContainer
{
	text-align: center;
	margin: 0 0 20px 0;
	color: #00b050; 
}

.resumeBtnHireMeContainer
{
/*    margin: 7px 30px 7px 30px;*/
    position: absolute;
}

.cntrHireMeHelper
{
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.disabledLink
{
	color: rgb(236,241,242);
}
.disabledLink:hover
{
	color: rgb(236,241,242);
}



@media screen and (max-width: 930px) {
		.answerRatingContainer
		{
			width: 100%;
		}
	}

@media screen and (max-width: 802px) {
	.resumeWebVersion
	{
		width: auto;
	}
    
    .basicInfoHelper{
        height: 220px;
    }
	
    #videoAnswer {
        height:250px;
    }
    
    #buttonContainer button
	{
		margin: 0 10px 0 10px;
	}
	
	.PhotoHelper
	{
/* 		padding: 0 0 0 0px; */
		text-align: center;
	}
    
    .btnHireMe
    {
        top:23px;
        right: 10px;
        padding: 5px 10px;
    }
	
	#basicInfo
	{
        position: relative;
/*
		margin-top: 11px;
		border-top: 1px solid #bdc3c7;
		padding: 10px 0 0 15px;
*/
	}
	
	.nameHelper
	{	
		padding: 0 0 0 10px;
	}
    
    #name
    {
        width: 55%;
    }
	
	.answerRatingDescription,.answerRatingDescription2
    {
        top:21px;
        font-size: 14px;
    }
}

@media screen and (max-width: 766px) {
    #basicInfo
        {
            position: relative;
            margin-top: 11px;
            border-top: 1px solid #bdc3c7;
            padding: 10px 0 0 15px;
        }
}
