<section class="presentationAreaContainer text-center animated fadeInDown" ng-controller="TutorialCtrl">

	<p id="loginGreetingWords">Choose who you are</p>
	  
	<div class="chooseRoleContainer" >  
		
		<button class="btn btn-default btnWindowHistoryBack RegisterBackAdj" ng-click='goBack()'><span><i class="fa fa-chevron-left"></i> Back</span></button> 
		
		<button type="button" id="btnSeeker" ng-click='funcSeeker()' ng-class="{ selected: userType=='seeker' }" class="btn btn-default registerBtnSeeker" uib-popover="{{ tutorialOnChoosingSeeker }}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true">Job Seeker</button>
		
        <button type="button" id="btnRecruiter" ng-click='funcRecruiter()' ng-class="{ selected: userType=='recruiter' }" class="btn btn-default registerBtnRecruiter" uib-popover="{{ tutorialOnChoosingRecruiter }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">Recruiter</button>  
   
	</div>
	
</section>


	
