.chooseRoleContainer
{
	position: relative;
	margin: 0px auto 0 auto;
	height: 62px;
	width: 400px;
	background: white;
	margin-top: 15px;
	padding: 15px;
	border-radius: 4px;
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.2);
}



/* ----------------------------TUTORIAL--------------------------- */

img
{
	mask: url(#masking);
}





