.companyContainer
{
	position: relative;
    min-height: 110px;
    background: #ecf0f1;
    margin-bottom: 15px;
    line-height: 0.95;
}

#informationContainerEditQuestionnaire
{
	padding: 15px 15px 0 0;
}

#companylogo
{
	height: 80px;
	width: 80px;
	padding: 15px 15px 15px 0;
	float: left;
	box-sizing: content-box;
}

#positionContainer
{
	text-align: justify;
	position: relative;
	max-width: 824px;
	margin: 0 auto 0 auto;
}

#companyname
{
	font-size: 14px;
/*	color: rgb(188,196,200);*/
    color: rgb(128,136,140);
}

#positionname
{
	font-size: 16px;
	color: rgb(54,54,54);
	font-weight: bold;
}

#additionalinfo
{
	font-size: 14px;
	color: rgb(54,54,54);
	padding-bottom: 15px;
}

#logoIconPositionContainer
{
	position: absolute;
	top:10px;
	right: 10px;
	width:20px;
	height:20px;
	color: rgb(188,196,200);
}
