<div class="workAreaContainer" ng-controller="TutorialCtrl" ng-cloak>
		<section class="resumeSection">
			<fieldset>
			
				<div class="companyContainer" uib-popover="{{ tutorialQuestionnairePosition }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true">
					<img src="../../app/topbar/images/logo.png" id="logoIconPositionContainer">
					<div id="positionContainer">
					 	<img id="companylogo" ng-src="{{ questionnarie.companyLogo }}">
					 	<div id="informationContainerEditQuestionnaire">
						 	<p id="companyname">{{  questionnarie.companyName }}</p>
						 	<p id="positionname">{{  questionnarie.companyPosition }}</p>
						 	<p id="additionalinfo">{{  questionnarie.companyInfo }}</p>
					 	</div>
					</div>
				</div>
	
				<div ui-sref="photoUpload" class="photoHolder objMargin" ng-click='setCurrentPhoto("userPhoto",questionnarie.photo.link)'>
	                <p id="photoIcon" ng-show="!isFilled(questionnarie.photo.link)"><i class="fa fa-user"></i></p> 
	                <img id="photoImage" ng-src="{{questionnarie.photo.link}}"  ng-class="{ error: questionnarie.photo.error }" ng-cloak>
				</div>
				
				
				<form role="form" class="nameemail">
					<div class="form-group">
						<input ng-model="questionnarie.firstname.text" class="form-control" id="inputFirstName" placeholder="Enter First Name"
	                            ng-focus="questionnarie.firstname.error=false" ng-class="{ error: questionnarie.firstname.error }"/>
					</div>
				
					<div class="form-group">
						<input ng-model="questionnarie.lastname.text" class="form-control" id="inputLastName" placeholder="Enter Last Name"
	                            ng-focus="questionnarie.lastname.error=false" ng-class="{ error: questionnarie.lastname.error }"/>
					</div>
					
					<div class="form-group">
						<input ng-model="questionnarie.email.text" class="form-control" id="inputEmail" placeholder="Enter Email"
	                           ng-pattern="emailPattern" ng-focus="questionnarie.email.error=false" ng-class="{ error: questionnarie.email.error }" ng-blur="checkEmail()"/>
					</div>
				</form>
				
				
				<form role="form" class="zipcode">
					<div class="form-group objMargin">
						<input ng-model="questionnarie.zipcode.text" class="form-control" id="inputZipCode" placeholder="Enter Zip Code" ng-focus="questionnarie.zipcode.error=false" ng-class="{ error: questionnarie.zipcode.error }"  ng-blur="checkZip()" ng-disabled="isNoneUS.checked"/>
					</div>
				</form>
				
				
				<label id="citycountry" ng-show="isZipUS()">{{questionnarie.city}}, {{questionnarie.state}}</label>
				<div ng-show="!isZipUS()">
					<input class="checkBox" type="checkbox" ng-model="isNoneUS.checked" ng-change="changeNoneUS()" checked="isNoneUS.checked">
					<label class="checkBoxLabel" >Non US</label>
				</div>
				
			</fieldset>
		</section>
		
		<section class="resumeSection">
			<fieldset>
				<legend>Video Questions</legend>        
	            <div>

					<div ui-sref="videoUpload" class="videoContainer floatLeft" ng-click='setCurrentVideoName("questionnarie1",questionnarie.video1.link,"video1",questionnarie.video1.text)' ng-class="{ error: questionnarie.video1.error }" uib-popover="{{ tutorialQuestionnaireVideo }}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true" ng-cloak>
		                <p id="videoBack" ng-show="isFilled(questionnarie.video1.html)"></p>
	                    <div ng-bind-html="questionnarie.video1.html" ng-show="isFilled(questionnarie.video1.html)"></div>
	 					<p id="videoIcon" ng-show="!isFilled(questionnarie.video1.html)"><i class="fa fa-video-camera"></i></p>
	 					<p id="addVideo" ng-show="!isFilled(questionnarie.video1.html)">Add Video</p> 
						<p id="videoQuestion1">{{questionnarie.video1.text}}</p>
					</div>
	            
					<div ui-sref="videoUpload" class="videoContainer floatRight" ng-show="isFilled(questionnarie.video2.text)" ng-click='setCurrentVideoName("questionnarie2",questionnarie.video2.link,"video2",questionnarie.video2.text)' ng-class="{ error: questionnarie.video2.error }" uib-popover="{{ tutorialQuestionnaireVideo }}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
						<p id="videoBack" ng-show="isFilled(questionnarie.video2.html)"></p>
						<div ng-bind-html="questionnarie.video2.html" ng-show="isFilled(questionnarie.video2.html)"></div>
	 					<p id="videoIcon" ng-show="!isFilled(questionnarie.video2.html)"><i class="fa fa-video-camera"></i></p>
	 					<p id="addVideo" ng-show="!isFilled(questionnarie.video2.html)">Add Video</p> 
						<p id="videoQuestion2">{{questionnarie.video2.text}}</p>
					</div>
					
					<div ui-sref="videoUpload" class="videoContainer floatLeft" ng-show="isFilled(questionnarie.video3.text)" ng-click='setCurrentVideoName("questionnarie3",questionnarie.video3.link,"video3",questionnarie.video3.text)' ng-class="{ error: questionnarie.video3.error }" uib-popover="{{ tutorialQuestionnaireVideo }}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
						<p id="videoBack" ng-show="isFilled(questionnarie.video3.html)"></p>
						<div ng-bind-html="questionnarie.video3.html" ng-show="isFilled(questionnarie.video3.html)"></div>
	 					<p id="videoIcon" ng-show="!isFilled(questionnarie.video3.html)"><i class="fa fa-video-camera"></i></p>
	 					<p id="addVideo" ng-show="!isFilled(questionnarie.video3.html)">Add Video</p> 
						<p id="videoQuestion3">{{questionnarie.video3.text}}</p>
					</div>
					
					<div ui-sref="videoUpload" class="videoContainer floatRight" ng-show="isFilled(questionnarie.video4.text)" ng-click='setCurrentVideoName("questionnarie4",questionnarie.video4.link,"video4",questionnarie.video4.text)' ng-class="{ error: questionnarie.video4.error }" uib-popover="{{ tutorialQuestionnaireVideo }}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
						<p id="videoBack" ng-show="isFilled(questionnarie.video4.html)"></p>
						<div ng-bind-html="questionnarie.video4.html" ng-show="isFilled(questionnarie.video4.html)"></div>
	 					<p id="videoIcon" ng-show="!isFilled(questionnarie.video4.html)"><i class="fa fa-video-camera"></i></p>
	 					<p id="addVideo" ng-show="!isFilled(questionnarie.video4.html)">Add Video</p> 
						<p id="videoQuestion4">{{questionnarie.video4.text}}</p>
					</div>
				</div>
			</fieldset>
		</section>

		<section class="form-group resumeSection">
			<fieldset>
				<legend>Professional Information</legend>
			
				<div class="industryDesiredContainerSeeker">
					<label for="name">Industry Desired</label>
					<select ng-model="questionnarie.industrydesired.text" class="form-control" ng-options="profession for profession in professions" ng-focus="questionnarie.industrydesired.error=false" ng-class="{ error: questionnarie.industrydesired.error }">
					   <option value="">Select Item</option> 
					</select>
				</div>
				
				<div class="experienceContainerSeeker">
					<label for="name">Experience</label>
					<select ng-model="questionnarie.experience.text" class="form-control"  ng-options="experience for experience in experiences" ng-focus="questionnarie.experience.error=false" ng-class="{ error: questionnarie.experience.error }">
					   <option value="">Select Item</option> 
					</select>
				</div>
				
				<div class="educationContainerSeeker">
					<label for="name">Education</label>
					<select ng-model="questionnarie.education.text" class="form-control"  ng-options="education for education in educations" ng-focus="questionnarie.education.error=false" ng-class="{ error: questionnarie.education.error }" >
					   <option value="">Select Item</option> 
					</select>
				</div>
				
				<div class="areaOSContainerSeeker">
					<label for="name">Area of Study</label>
					<select ng-model="questionnarie.areaofstudy.text" class="form-control" ng-options="profession for profession in professions" ng-focus="questionnarie.areaofstudy.error=false" ng-class="{ error: questionnarie.areaofstudy.error }">
					   <option value="">Select Item</option> 
					</select>
				</div>
				
				<div class="ableToRelocateContainerSeeker">  
					<label for="name">Able to Relocate</label>
					<select ng-model="questionnarie.abletorelocate.text" class="form-control" ng-options="abletorelocate for abletorelocate in abletorelocateOptions" ng-focus="questionnarie.abletorelocate.error=false" ng-class="{ error: questionnarie.abletorelocate.error }">
					   <option value="">Select Item</option>
					</select>
				</div>
	            
	            <div class="linkedInContainerSeeker"><!--  form-group  -->
	 				<label for="LinkedIn">LinkedIn</label>
	 				<div id="inputLinkedInIcon"><i class="fa fa-linkedin-square"></i></div>
					<input id="inputLinkedIn" ng-model="questionnarie.linkedIn.text" class="form-control width" id="inputLinkedIn" placeholder="Link to LinkedIn ( e.g. https://www.linkedin.com/in/yourname )"/>
				</div>
				
	            <div class="additionalLinkContainerSeeker"> <!-- form-group -->
	 				<label for="inputAdditionalLink">Additional Link</label>
	 				<div id="inputAdditionalLinkIcon"><i class="fa fa-external-link-square"></i></div> 
					<input id="inputAdditionalLink" ng-model="questionnarie.additionalLink.text" class="form-control width" id="inputAdditionalLink" placeholder="Additional Link"/>
				</div>

			</fieldset>
			
			<div id="btnContainerRP">
				<button id="btnPublish" type="button" class="btn btn-default" ng-click='publishclick()' uib-popover="{{ tutorialQuestionnaireSend }}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true">Send</button>
			</div>
			
		</section>
		<br>
    </div>
<!-- </div> -->