<div class="workAreaContainer text-center" ng-cloak>
	<p id='linkTitle'>Link for web version of your Resume:</p>
	<div id="linkToResume">
	    <a ng-click="open(linkToResume)" id="linkToResume">
		    {{linkToResume}}
	    </a>
	</div>
    <a data-clipboard-target="#hiddenInputLinkQuestionnaire" class="btn btn-default btnCopyToClipboardS" style="margin-top:15px;">Copy Link</a>
</div>
<input style="opacity:0;" id="hiddenInputLinkQuestionnaire" value="{{linkToResume}}">

<script>
    new Clipboard('.btnCopyToClipboardS');
</script>