[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
#linkTitle
{
	width: 100%;
    text-align: center;
    font-size: 18px;
    margin-top: 150px;
    color: rgb(54,54,54);
}
#linkToResume
{
	text-align: center;
    font-size: large;
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0,176,80);
}

#linkToResume:hover
{
	cursor: pointer;
}
#btnContainer
{
	text-align: center;
    margin: 20px 0px 0 0px;
}
#btnCopyOpen
{
	margin-left: 20px;
    margin-right: 20px;
    width: 100px;
}
