<section class="presentationAreaContainer registerOverflow" ng-controller="TutorialCtrl">

    <div class="animated fadeInRight">
        <div class="registerContainer">
            
            <div class="testBackThing text-center">
                <p id="loginGreetingWordsLogin">Register New Account</p>
            </div>

            <button class="btn btn-default btnWindowHistoryBack RegisterBackAdj" ng-click='goBack()'><span><i class="fa fa-chevron-left"></i> Back</span></button> 

           <input ng-model="email.text" id="email" placeholder="Email"  ng-pattern="emailPattern" ng-focus="email.error=false" ng-class="{ error: email.error }" class="form-control loginFormField" type="email"/>

            <input ng-model="password.text" id="password" placeholder="Password" ng-focus="password.error=false; passwordConfirm.error=false" ng-class="{ error: password.error }" class="form-control loginFormField" type="password"/>

            <input ng-model="passwordConfirm.text" id="passwordConfirm" placeholder="Confirm Password" ng-focus="password.error=false; passwordConfirm.error=false" ng-class="{ error: passwordConfirm.error }" class="form-control loginFormField" type="password"/>

            <button type="button" id="btnSeeker" ng-click='funcSeeker()' ng-class="{ selected: userType=='seeker' }" class="btn btn-default registerBtnSeeker" uib-popover="{{ tutorialOnChoosingSeeker }}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true" ng-disabled="!selectTypeBtnActive">Job Seeker</button>
            <button type="button" id="btnRecruiter" ng-click='funcRecruiter()' ng-class="{ selected: userType=='recruter' }" class="btn btn-default registerBtnRecruiter" uib-popover="{{ tutorialOnChoosingRecruiter }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true" ng-disabled="!selectTypeBtnActive">Recruiter</button>  

            <button type="button" id="btnLogin" ng-click='funcRegister()' class="btn btn-default loginBtnRegister">Register</button>

            <div style="border: 1px solid rgb(236,241,242);padding:10px;" class="text-center">
                <p>By clicking "Register" you agree to our:</p>
                <a target="_blank" class="LinksToInfo" href="http://www.reelhire.com/termsAndConditions">Terms and Conditions</a>
                <a target="_blank" class="LinksToInfo" href="http://www.reelhire.com/privacyPolicy">Privacy Policy</a>
            </div>
        </div>
	
    </div>
</section>


	
