.registerOverflow
{
    overflow-x: hidden;
}

.registerContainer
{
	position: relative;
	margin: 0px auto 0 auto;
	height: 335px;
	width: 403px;
	background: white;
	margin-top: 110px;
	padding: 15px;
	border-radius: 4px;
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.2);
}

#loginGreetingWordsRegister
{
    margin-top: 30px;
	font-size: 25px;
/*	color: rgb(188,196,200); */
    color: rgb(54,54,54);
}

.RegisterBackAdj
{
	position: absolute;
	top:0;
	left: -110px;
	border: 0px solid transparent;
	color: rgb(54,54,54);
}

.registerBtnSeeker
{
	float: left;
}

.registerBtnRecruiter
{
	float: right;
}

.registerBtnSeeker,
.registerBtnRecruiter
{
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
	width: 180px;
	margin-bottom: 10px;
}

.registerBtnSeeker:hover,
.registerBtnRecruiter:hover,
.registerBtnSeeker:focus,
.registerBtnRecruiter:focus
{
	background: rgb(0,176,80) !important;
	color: white;
}

.selected
{
	background: rgb(0,176,80) !important;
	color: white;
}