<div class="presentationAreaContainer" ng-cloak>
	<section class="resetPwd">
		<br>
		<input ng-model="email.text" id="email" placeholder="Your Email"  ng-pattern="emailPattern" ng-focus="email.error=false" ng-class="{ error: email.error }" class="form-control bottomMarginChangePassword" ng-blur="checkEmail()" type="email" disabled="true"/>
	    
	    <input ng-model="password.text" id="password" placeholder="New Password" ng-focus="password.error=false; passwordConfirm.error=false" ng-class="{ error: password.error }" class="form-control bottomMarginChangePassword" type="password"/>
	    
	    <input ng-model="passwordConfirm.text" id="passwordConfirm" placeholder="Confirm New Password" ng-focus="password.error=false; passwordConfirm.error=false" ng-class="{ error: passwordConfirm.error }" class="form-control bottomMarginChangePassword" type="password"/>
		
		<div id="buttonResetPwdContainer">
			<button class="btn btn-default btnChangePwdProfile"  ng-click="changePwd()">Change Password</button>
		</div>
	</section> 
</div>