.loginContainer
{
	position: relative;
	margin: 0px auto 0 auto;
	height: 269px;
	width: 403px;
	background: white;
	margin-top: 110px;
	padding: 15px;
	border-radius: 4px;
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.2);
}

.testBackThing
{
    position: absolute;
    top: -45px;
    left: 0;
    background: rgb(0,176,80);
/*    background: rgb(188,196,200);*/
    width: 403px;
    height: 50px;
    border-radius: 20px 20px 0 0;
    z-index: -10;
    box-shadow: 0px 0px 40px -7px rgba(0, 0, 0, 0.2);
}

#loginGreetingWordsLogin
{
    margin-top: 5px;
	font-size: 25px;
/*    font-weight: bold;*/
    color: white;
/*	color: rgb(188,196,200);*/
/*    color: rgb(54,54,54);*/
/*    color: rgb(0,176,80);*/
/*    background: rgb(0,176,80);*/
}

.loginFormField
{
	margin-bottom: 10px;
}

.loginBtnLogin{
	position: absolute;
	top:59px;
	right: 15px;
	font-size: 20px;
	padding: 2px 6px;
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
}

.loginBtnRegister
{
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
}

.loginBtnLogin:hover,
.loginBtnRegister:hover
{
	background: rgb(0,176,80) !important;
	color: white;
}

.loginBtnContinue
{
	width: 100%;
	margin-bottom: 10px;
	color: rgb(54,54,54);
	border-color: rgb(188,196,200);
}

.loginBtnContinue:hover
{
	background: rgb(188,196,200);
	color: white;
}

.loginSeparationBorder
{
	position: relative;
	height: 2px;
	width: 100%;
	border-top: 0px solid transparent;
	border-bottom: 1px solid transparent;
	border-image: linear-gradient(to right, transparent, rgb(188,196,200), transparent);
	border-image-slice: 1;
	margin-bottom: 10px;
}

.loginSeparationBorder span
{
	position: absolute;
	top:-10px;
	left:165px;
	background: white;
	padding: 0px 10px;
}

.loginBtnGoogle,
.loginBtnFB
{
	width: 185px;
}

.loginBtnFB
{
	margin-bottom: 10px;
	padding: 0px;
	float: right;
	border-radius: 0px;
	font-weight: bold;
	background: #4C69BA;
	border-color: transparent;
	box-shadow: 0px 3px 3px rgb(188,196,200);
}

.loginBtnFB:hover,
.loginBtnFB:focus,
.loginBtnFB:active
{
	background: #3B55A0 !important;
	border-color: transparent;
}


.loginBtnFB span
{
	font-size: 13px;
	vertical-align: middle;
	padding: 0px 3px 0px 3px;
	line-height: 34px;
	color: white;
}


.loginBtnFB span i
{
	font-size: 14px;
	border-right: 1px solid white;
	padding-right: 14px;
	padding-bottom: 10px;
	padding-top: 10px;
	color: white;
}


.loginBtnGoogle
{
	margin-bottom: 10px;
	float: left;
}

.selected { 
    background-color:#CCCCCC; 
}

/* ----------------------------TUTORIAL--------------------------- */

img
{
	mask: url(#masking);
}




