<section class="presentationAreaContainer text-center" ng-controller="TutorialCtrl">

    <div class="animated fadeInLeft">
        <div class="loginContainer" >  
            <div class="testBackThing">
                <p id="loginGreetingWordsLogin">Log In to ReelHire</p>
            </div>
            
            <input ng-model="email.text" id="loginFieldEmail" placeholder="Email"  class="form-control loginFormField" ng-pattern="emailPattern" ng-focus="email.error=false" ng-class="{ error: email.error }" type="email"/>

           <input ng-model="password.text" id="loginFieldPassword" placeholder="Password" ng-focus="password.error=false" ng-class="{ error: password.error }" class="form-control loginFormField" type="password"/>

            <button type="submit" id="btnLogin" ng-click='funcLogin()' class="btn btn-default loginBtnLogin"><i class="fa fa-sign-in"></i></button>

            <div class="loginBtnGoogle">
                <google-sign-in-button button-id="uniqueid" options="options"></google-sign-in-button>
            </div>

            <button class="btn btn-default loginBtnFB" ng-click="fblogin()">
                <span><i class="fa fa-facebook"></i></span>
                <span>Sign in with Facebook</span>
            </button>
            
            <label class="loginSeparationBorder">
                <span>OR</span>
            </label>
            
            <button type="button" id="btnRegister" ng-click='funcRegister()' class="btn btn-default loginBtnRegister">Register</button>

            <button type="button" id="btnLater" ng-click='funcChooseRole()' class="btn btn-default loginBtnContinue" uib-popover="{{ tutorialOnBtnContinue }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true">Later</button>
        </div>
    </div>
</section>


	
