<section class="presentationAreaContainer">
	<div class="container loadingCenter">
		<div class="loader">Loading...</div>
		<img id="loadingCompanyLogo" src="../../app/topbar/images/logo.png">
	</div>
</section>


	
