.sectionLoading
{
	width: 100%;
	height: 100%;
	background:rgb(236,241,242);
    overflow-x: hidden;
    overflow-y: hidden;
}

.loadingCenter
{
	position: relative;
	width: 150px;
	padding-top: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#loadingCompanyLogo
{
	position: absolute;
	top:170px;
	left: 60px;
	width: 40px;
	height: 40px;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgb(236,241,242);
  border-right: 1.1em solid rgb(236,241,242);
  border-bottom: 1.1em solid rgb(236,241,242);
  border-left: 1.1em solid rgb(0,176,80);
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;

}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
