body{
	background: white;
}

.imageBox{
	position: relative;
	height: 300px;
	width: 300px;
	margin: 0 auto 0 auto;
	background: rgb(236,241,242);
    overflow: hidden;
    background-repeat: no-repeat;
    background-image: none;
}

.cursorMove
{
	cursor:move;
}

.thumbBox
{
    position: absolute;    
    top: 5%;
    left: 5%;
    width: 270px;
    height: 270px;
    box-sizing: border-box;
    border: 1px solid rgb(102, 102, 102);
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.5);
    background: none repeat scroll 0% 0% transparent;
	display: none;
}

.fullsize
{
	top:0;
	left:0;
	width: 300px;
	height: 300px;
	margin: 0;
	border: 0px solid rgb(102, 102, 102);
	display: none;
}

.userIconChoosePhoto
{
	position: absolute;
	font-size: 170px;
	color: rgb(188,196,200);
	top:10px;
	left: 80px;
	display: none;
}

.containerUpload
{
	width: 350px;
	margin: 20px auto 0 auto;
	text-align: center;
	display: none;
}

.containerUpload>button
{
	margin: 0 20px 20px 20px;
	min-width: 100px;
}

.containerCrop
{
	position: relative;
	width: 300px;
	margin: 20px auto 0 auto;
	text-align: center;
	display: none;
}

.containerCrop>button
{
	margin: 20px 20px 0 20px;
	width:100px;
}

.isSeen
{
	display: block;
}

#iconMinus
{
	position: absolute;
	font-size: 20px;
	top:-10px;
	left:-25px;
	color: rgb(188,196,200);
}

#iconPlus
{
	position: absolute;
	font-size: 20px;
	top:-10px;
	right:-25px;
	color: rgb(188,196,200);
}

.btnCancelPhotoUpload
{
	color: rgb(54,54,54);
	border-color: rgb(188,196,200);
}

.btnCancelPhotoUpload:hover
{
	background: rgb(188,196,200);
	color: white;
}

.btnApprovePhotoUpload
{
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
}

.btnApprovePhotoUpload:hover
{
	background: rgb(0,176,80) !important;
	color: white;
}
