 /* STYLES COLORS
	
	Dark Grey - rgb(54,54,54)
	Middle Grey - rgb(188,196,200)
	Light Grey - rgb(236,241,242)
	White - rgb(255,255,255)
	Green - rgb(0,176,80)
 */

[ng-cloak],
.ng-cloak,
.data-ng-cloak {
    display: block !important;
}

html,body {
	width: 100%;
	height: 100%;
    position: relative;
    padding:0;
    border:0;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 16px;
}

/* WORK AREA */

.workAreaContainer
{
	position: relative;
	padding-top: 75px;
	margin-left: 220px;
	margin-right: 20px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.presentationAreaContainer
{
    position: relative;
    padding-top: 55px;
}

/*starting from 600px and more*/
@media screen and (min-height: 600px) {
    .presentationAreaContainer
    {
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 550px;
        padding-top: 0px;
    }
}

/*from 600px to 700px*/
@media screen and (max-height: 700px) {
    .presentationAreaContainer
    {
/*        height: 450px;*/
        height: 550px;
    }
}

.presentationContainerAbout
{
    position: relative;
    padding-top: 55px;
}

legend
{
	margin-bottom: 15px;
/*	font-size: 15px;*/
	width: 830px;
/* 	font-weight: bold; */
/*	color: rgb(188,196,200);*/
/* 	border-color: rgb(0,176,80); */
    color: rgb(128,136,140);
}

label
{
	font-weight: 300;
/*	color: rgb(188,196,200);*/
    color: rgb(128,136,140);
}

/*
.container
{
    padding-left: 0px;
    padding-right: 0px;
}
*/

/* 	<button class="btn btn-default btnWindowHistoryBack" ng-click='goBack()'><span><i class="fa fa-chevron-left"></i></span></button> 
	
	$scope.goBack = function(){
	            $window.history.back();
            };
            
*/

.btnWindowHistoryBack
{
/*	color: rgb(188,196,200);*/
    color: rgb(54,54,54);
/*	border-color: rgb(188,196,200);*/
    border-color: rgb(54,54,54);
	margin-left: 5px;
	margin-bottom: 15px;
    outline: none;
}

.btnWindowHistoryBack
{
	padding: 5px 12px 4px 10px;
    outline: none;
}

.btnWindowHistoryBack span
{
	padding: 0;
}

.btnWindowHistoryBack:hover,
.btnWindowHistoryBack:active,
.btnWindowHistoryBack:visited
{
	background: rgb(188,196,200) !important;
	color: white !important;
    outline: none;
}

.btn
{
    outline: none !important;
    font-size: 17px;
}

.form-control,
input
{
    font-size: 16px;
    color: rgb(54,54,54);
/*    font-weight: bold;*/
}

/* ----------------------------------------------------------- */

.error { 
	border: 1px solid rgba(255, 87, 87, 0.70) !important;
	
/* 	border-color: #FF5656 !important; */
/*
    background-color:#FF5656 !important;
    background:#FF5656;
    color:white !important;
    filter: opacity(90%)
*/
}

svg{
	margin: 0;
	padding: 0;
}

.popover,
.popover.top > .arrow:after,
.popover.bottom > .arrow:after,
.popover.right > .arrow:after,
.popover.left > .arrow:after
{
	border: 0px solid transparent;
}

.popover
{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: inherit;
    z-index: 0;
    padding: 0px;
    background: rgba(255,255,255,0.85);
    border: 0px solid transparent;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 
    /* Retina-specific stuff here */
}

/*--------------------------------*/

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
.animateTestView[ui-view]{
    height: 100%;
}

.ui-view-container {
  position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  /*padding-left: 0px;*/  
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  /*padding-left: 100px;*/
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}

input[type=checkbox]
{
	margin: 0px;
	margin-top: 1px;
}

