#newRecruiterQuestionnaire
{
	margin-bottom: 10px;
	width: 100%;
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
}

#newRecruiterQuestionnaire:hover
{
	background: rgb(0,176,80) !important;
	color: white;
}

.questionnaireThumbnailRecruiter
{
	position: relative;
	height: 60px;
	margin: 0 auto 10px auto;
	cursor: pointer;
	background: rgb(236,241,242);
}


.innerContainer
{
	position: absolute;
	width: 700px;
	height: 60px;
}

.thumbLogoRecruiter
{
	position: absolute;
	top:0px;
	left: 40px;
	width: 60px;
	height: 60px;
/* 	border-radius: 50%; */
	border: 0 solid transparent;
	background: white;
	text-align: center;
}

.thumbCompanyNameRecruiter,.thumbPositionNameRecruiter
{
	position: absolute;
	left: 115px;
	top:8px;
	font-size: 13px;
}

.thumbPositionNameRecruiter
{
	top:27px;
	font-weight: bold;
	font-size: 18px;
}

.thumbStatusRecruiter
{
	position: absolute;
	right: 30px;
	top:20px;
}

.copyQuestionnaireIcon
{
	position: absolute;
	right: 79px;
/* 	top:16px; */
	color: rgb(0,176,80);
	font-size: 20px;
	padding: 16px 20px 0 20px;
	border-left: 1px solid rgb(188,196,200);
	border-right: 1px solid rgb(188,196,200);
	height: 60px;
	background: rgb(236,241,242);
}

.thumbLogoIconRecruiter
{
	font-size: 30px;
	color: rgb(188,196,200);
	padding: 0 0 0 4px;
}

.questionnaireThumbnailNotification
{
	position: absolute;
	width: 25px;
    height: 25px;
	background: rgb(0,176,80);
	color: white;
	top:17px;
	left:0px;
    text-align: center;
    padding-top: 2px;
}

.questionnaireThumbnailRecruiter:hover
{
	background: #d8dfe1;
}

.questionnaireThumbnailRecruiter:hover .thumbStatusRecruiter
{
	color: white;
}

.copyQuestionnaireIcon:hover
{
	background: rgb(0,176,80);
	color: white;
	font-weight: bold;
}

.thumbDeleteContainerRecruiter
{
	position: absolute;
	top:0px;
	right: 0px;
	padding: 18px 16px 19px 16px;
/* 	border-left: 1px solid rgb(188,196,200); */
	background: rgb(236,241,242);
	color: #FF5656;
}

.thumbDeleteContainerRecruiter:hover
{
	background: #FF5656;
	color: white;
}
.thumbSendContainerRecruiter
{
	position: absolute;
	top:0px;
	right: 0px;
	padding: 19px 23px 18px 22px;
/* 	border-left: 1px solid rgb(188,196,200); */
	background: rgb(236,241,242);
	color: rgb(0,176,80);
}

.thumbSendContainerRecruiter:hover
{
	background: rgb(0,176,80);
	color: white;
}



