<div class="workAreaContainer" ng-controller="TutorialCtrl">
	<section class="resumeSection">
<!-- 		CREATE NEW QUESTIONNAIRE BUTTON -->
		<button id="newRecruiterQuestionnaire" class="btn btn-default" ng-click="newAnket()" uib-popover="{{ tutorialRecruiterCreateNewQuestionnaire }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true">
			Create New Questionnaire
		</button>
		
		
<!-- 		TEMPLATE FOR QUESTIONNAIRES -->
		<div class="questionnaireThumbnailRecruiter" ng-repeat="anket in ankets  | orderBy:anketId track by $index">
			<div class="innerContainer" ng-click="openAnket(anket)" uib-popover="{{ tutorialRecruiterGoInsideQuestionnaire }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true">
				<p class="questionnaireThumbnailNotification" ng-show="anket.notificationList.length>0">{{anket.notificationList.length}}</p>
				
				<img class="thumbLogoRecruiter" ng-src={{anket.companyLogo}} ng-show="anket.companyLogo.length != 0">
				
				<div class="thumbLogoRecruiter" ng-show="anket.companyLogo.length === 0">
					<p class="thumbLogoIconRecruiter" ><i class="fa fa-university"></i></p>
				</div>

				<p class="thumbCompanyNameRecruiter">{{anket.companyName}}</p>
				
				<p class="thumbPositionNameRecruiter">{{anket.companyPosition}}{{ifEmpty(anket.companyPosition,'New Questionnaire')}}</p>
				<label class="thumbStatusRecruiter" ng-show="anket.ispublished=='True'">Published</label>
			</div>
			
			<div class="copyQuestionnaireIcon"  uib-popover="{{ tutorialRecruiterCopyQuestionnaire }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true" ng-click="copyAnket(anket)"><i class="fa fa-files-o"></i></div>
			
			<div class="thumbDeleteContainerRecruiter" ng-click="deleteAnket(anket)" ng-show="!isSelectedCandidates()">Delete</div>
			
			<div class="thumbSendContainerRecruiter" ng-click="sendAnket(anket)" uib-popover="{{ tutorialRecruiterQuestionaireInstantSend }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true" ng-show="isSelectedCandidates()&&anket.ispublished=='True'"> Send </div>
		</div>

	</section>
	<br>
</div>