<div class="workAreaContainer" id="videoUploadCtrl" >
    
    <audio id="recordingStartAudio">
        <source src="app/videoUpload/audio.mp3" type="audio/mpeg">
    </audio>

	<button class="btn btn-default btnWindowHistoryBack" ng-click='goBack()'><span><i class="fa fa-chevron-left"></i> Back</span></button>
  
	<p style="text-align: center;">You are now answering:</p>
	<p id="currentVideoQuestion">{{ currentVideoQuestion }}</p>
	

    <div class="containerChoose"  ng-show='!isCameraMode' ng-cloak>
        <div class="video" id="videoChoose" ng-show="!isFilled(video.html)"></div>
        <p  class="video" id="videoChooseBack"  ng-show="isFilled(video.html)"></p>
        <div ng-bind-html="video.html"></div>
        <p id="videoIconChooseVideo"  ng-show="!isFilled(video.html)"><i class="fa fa-video-camera"></i></p>
    </div>

   
    <div class="containerVideoRecord" ng-show="isCameraMode">
	     <div ng-bind-html='zig' > 
    	</div>

	
		<div id="loadingIcon" ng-show="waitForVideo">
            <div class="sk-cube-grid">
              <div class="sk-cube sk-cube1"></div>
              <div class="sk-cube sk-cube2"></div>
              <div class="sk-cube sk-cube3"></div>
              <div class="sk-cube sk-cube4"></div>
              <div class="sk-cube sk-cube5"></div>
              <div class="sk-cube sk-cube6"></div>
              <div class="sk-cube sk-cube7"></div>
              <div class="sk-cube sk-cube8"></div>
              <div class="sk-cube sk-cube9"></div>
            </div>
		</div>
		<div id="loadingText" ng-show="waitForVideo">
            Please do not close this window until the video upload is over<br><br>
            This might take up to a 60 seconds...
        </div>
		
		
	</div>
	<div id="mediaplayer" style="display:none;" ng-show="!isChrome"></div>
		
    <div class="containerButtons">

    	<button type="button" class="btn btn-default btnApprovePhotoUpload" ng-show='!isCameraMode' ng-click='pushButton("videoFromFile")'>Load Video</button>
		<button type="button" class="btn btn-default btnApprovePhotoUpload" ng-show='!isCameraMode' ng-click='videoFromCam()'>Record Video</button>
		

		<button type="button" id="recordStopButton" class="btn btn-default btnApprovePhotoUpload" ng-show='isCameraMode&&!isRecording' ng-click="cancelCamera()" >Cancel Recording</button>
    </div>
    <div style='height: 0px;width:0px; overflow:hidden;'>
        <input id="videoFromFile" type="file" value="upload" accept="video/mp4"  my-on-change="loadVideoFromFile"/>
    </div>
</div>