body{
	background: white;
}

.containerChoose{
	position: relative;
/*	background: rgb(236,241,242);*/
    height: 360px;
	width: 640px;
	margin: auto;
	border: 1px solid rgb(188,196,200);
/* 	border-radius: 5px; */
}
.containerVideoRecord{
	position: relative;
/*	background: rgb(236,241,242);*/
    height: 360px;
	width: 640px;
	margin: auto;
	border: 1px solid rgb(188,196,200);
/* 	border-radius: 5px; */
}
.containerWebRTC{
	height: 100%;
	width: 100%;
	background-color: black;
}

.containerButtons{
	width: 600px;
	text-align: center;
    margin: 15px auto 0 auto;
}

.containerButtons>button
{
	margin: 0 10px 0px 10px;
	min-width: 100px;
}

#timeLeft
{
	position: absolute;
	text-align: left;
	left: 15px;
	top: 10px;
	color: white;
}

#videoIconChooseVideo
{
	position: absolute;
	top: 68px;
	left: 255px;
	font-size: 150px;
	color: rgb(188,196,200);
}
.video
{
	position: absolute;
    width: 640px;
    height: 360px;
}
#videoChoose
{
    background: rgb(236,241,242);
    z-index: -2;
	cursor: pointer;
}
#videoChooseBack
{
    background: black;
	z-index: -1;
	cursor: pointer;
}
#webcam
{
	height: 288px;
	width: 512px;
}

.selectDevice
{
	min-width: 150px;
	margin-bottom: 20px;
}

.logoDevice
{
	vertical-align: top;
	padding-left: 20px;
	padding-right: 10px;
	font-size: 18px;
	color: rgb(0,176,80);
}

#loadingIcon
{
	background:white;
	margin: 0px 0px 0px;
	font-size: 40px;
	position: absolute;
	width: 101%;
	height: 101%;
	top: -1px;
	left: -1px;
	text-align: center;
	line-height: 250px;
}

#loadingText
{
	font-size: 20px;
	position: absolute;
	top: 80px;
	text-align: center;
    padding-left: 60px;
    padding-right: 25px;
}

#currentVideoQuestion
{
	text-align: center;
	font-weight: bold;
	margin-bottom: 15px;
}

/*--------------------- Entertaining Animations --------------------*/


/*
#loadingIcon
{
	margin: 0px 0px 0px;
	font-size: 40px;
	position: absolute;
	width: 101%;
	height: 101%;
	top: -1px;
	left: -1px;
	text-align: center;
	line-height: 250px;
}
*/

.sk-cube-grid {
  width: 100%;
  height: 100%;
/*  margin: 100px auto;*/
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
    background:rgb(236,241,242);
/*  background-color: #333;*/
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  } 35% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  } 35% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0);
  } 
}

/*
@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}
*/
