 /* STYLES COLORS
	
	Dark Grey - rgb(54,54,54)
	Middle Grey - rgb(188,196,200)
	Light Grey - rgb(236,241,242)
	White - rgb(255,255,255)
	Green - rgb(0,176,80)
 */
 

 a,
 a:hover,
 a:focus
 {
/* 	 color: transparent; -- пропадает текст после нажатия на него, поэтому закомментированно*/ 
	 text-decoration: none;
 }


.panel-container-active{
	background: rgb(54,54,54) !important;
	cursor: default !important;
}

.panel-link-active,
.panel-link-active span
 {
	color: #fff !important;
	font-weight: 700;
}

.panel-sublink-active,
.panel-sublink-active span
 {
	background: rgb(0,176,80) !important;
	cursor: default !important;
}

.panel-sublink-active div,
.panel-sublink-active div span
 {
	color: #fff !important;
	font-weight: 700;
}

.panel-link-active span,
.panel-sublink-active span {
	color: #fff;
}

.sideContainer {
    position: fixed;
    top: 59px;
    left: 0;
    width: 245px;
    border: none;
    border-radius: 0;
    overflow-y: auto ;
    background: rgb(236,241,242);
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    margin: 0 0 0 -40px;
    visibility: visible;
}

.sideContainer div {
	color: rgb(54,54,54);
}

.subMenuContainer>li,
.subMenuContainer>li>ul>li {
    position: relative;
    list-style: none;
    border-bottom: 1px solid rgba(188,196,200,0.5);
/*     padding: 8px 0 9px 13px; */
	padding: 0px 0 0px 13px;
    cursor: pointer;
}

.subMenuContainer>li>div,
.subMenuContainer>li>ul>li>div {
    position: relative;
	padding-top: 8px;
	padding-bottom: 9px;
	/*width: 200px;*/
	box-sizing: content-box;
}

.subMenuContainer>li:hover,
.subMenuContainer>li>ul>li:hover {
	background: #d8dfe1;
}

.subMenuContainer>li>ul {
	margin: 0px 0 10px -38px;
}

.subMenuContainer>li>ul>li{
	background: rgb(236,241,242);
}

.subMenuContainer>li {
	display: block;
}

.sideContainer div span
{
	font-size: 17px;
	color: rgb(54,54,54);
	padding: 0 8px 0 0;
}

.login
{
	visibility: hidden;
	left: -300px;
}

#notificationQuestionnaries
{
	position: absolute;
    background-color: rgb(0,176,80);
    width: 20px;
    height: 22px;
    text-align: center;
    color: white;
    font-weight: bold;
    right: 0px;
    padding: 0;
    padding-top:1px;
    margin-top:1px;
    font-size: small;
}

/*----------------------------------*/
