<div id="wrapper" ng-controller="PanelCtrl">

        <!-- Sidebar Menu Items -->
        <div class="sideContainer" ng-controller="TutorialCtrl" ng-show="checkSeekerInformation()" ng-class="{ 'login' : onPage(['/login','/loading','/register','/exampleResume','/webResume','/publishedQuestionnaire','/questionnairesPreview','/resumePreview','/main','/about','/aboutJobseeker','/aboutRecruiter','/chooseRole','/contactUs','/termsAndConditions','/help']) }">
	        
            <ul class="subMenuContainer"> <!-- sideMenuItems -->
                
                <li ng-class="{ 'panel-container-active' : onPage(['/resume/edit','/preview','/sendTo','/getLink','/exampleResume','/webResume','/publishedQuestionnaire','/questionnairesPreview']) }">
                    <div ui-sref="resumeEdit" ng-class="{ 'panel-link-active' : onPage(['/resume/edit','/preview','/sendTo','/getLink','/exampleResume','/webResume','/publishedQuestionnaire','/questionnairesPreview']) }">
	                    <span>
	                    	<i class="fa fa-pencil-square-o"></i>
	                    </span>
	                    My Video Resume
	                </div>
                     
                     <ul uib-collapse="!onPage(['/resume/edit','/preview','/sendTo','/getLink','/exampleResume','/questionnairesPreview'])">
	                     
                        <li ng-class="{ 'panel-sublink-active' : onPage('/resume/edit') }">
                            <div ui-sref="resumeEdit">
	                            <span>
	                            	<i class="fa fa-pencil"></i>
	                            </span>
	                            Edit
	                        </div>
                        </li>
                        <li uib-popover="{{ tutorialSeekerPreview }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <div class="myResumePreview disabled" ng-click="onState('resumePreview')">
	                            <span class="myResumePreview disabled">
	                            	<i class="fa fa-eye"></i>
	                            </span>
	                            Preview
	                        </div>
                        </li>
                        <li ng-class="{ 'panel-sublink-active' : onPage('/getLink') }" uib-popover="{{ tutorialSeekerGetLink }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <div class="myResumeGetLink disabled" ng-click="onState('getLink')" >
	                            <span class="myResumeGetLink disabled">
	                            	<i class="fa fa-link"></i>
	                            </span>
	                            Get Link
	                        </div>
                        </li>
                        <li ng-class="{ 'panel-sublink-active' : onPage('/sendTo') }" uib-popover="{{ tutorialSeekerSendTo }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <div class="myResumeSendTo disabled" ng-click="onState('sendTo')">
	                            <span class="myResumeSendTo disabled">
	                            	<i class="fa fa-paper-plane"></i>
	                            </span>
	                            Send To
	                        </div>
                        </li>
                       
                        <li ng-class="{ 'panel-sublink-active' : onPage('/exampleResume') }" uib-popover="{{ tutorialSeekerExample }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
                            <div ui-sref="exampleResume">
	                            <span>
	                            	<i class="fa fa-question-circle"></i>
	                            </span>
	                            Example
	                        </div>
                        </li>
                        
                    </ul>
                
                </li>
                
                <li ng-class="{ 'panel-container-active' : onPage(['/questionnaires','/questionnaires/edit','/questionnairesPreview']) }" ng-show="checkSeekerQuestionnaires()">
                    <div class="seekerQuestionnaires disabled" ng-click="onState('questionnaires')" ng-class="{ 'panel-link-active' : onPage(['/questionnaires','/questionnaires/edit','/questionnairesPreview']) }" uib-popover="{{ tutorialSeekerQuestionnaires }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">
	                    <span class="seekerQuestionnaires disabled">
	                    	<i class="fa fa-file-text-o"></i>
	                    </span>
	                    
	                    <span id="notificationQuestionnaries" ng-show="notificationQuestionnaries>0">
	                    	{{notificationQuestionnaries}}
	                    </span>
	                    
	                    My Questionnaires
	                    
	                </div>
                    
                    <ul uib-collapse="!onPage('/questionnaires/edit')">

                        <li ng-class="{ 'panel-sublink-active' : onPage('/questionnaires/edit') }">
                            <div>
	                            <span>
	                            	<i class="fa fa-pencil"></i>
								</span>
								Edit
							</div>
                        </li>
                        <li>
                            <div  ng-click="onState('questionnairesPreview')">
	                            <span>
	                            	<i class="fa fa-eye"></i>
	                            </span>
	                            Preview
	                        </div>
                        </li>
                        
                        
                    </ul>
                    
                </li>
                <li ng-class="{ 'panel-container-active' : onPage('/profile') }">
                    <div ui-sref="profile" ng-class="{ 'panel-link-active' : onPage('/profile') }">
	                    <span>
	                    	<i class="fa fa-user"></i>
						</span>Profile
					</div>
                </li>
                <li ng-class="{ 'panel-container-active' : onPage('/help') }">
                    <div ui-sref="help" ng-class="{ 'panel-link-active' : onPage('/help') }">
	                    <span>
	                    	<i class="fa fa-info-circle"></i>
						</span>Help
					</div>
                </li>
            </ul>
        </div>
</div>
    

