<div ng-controller="TopbarCtrl" >
		<nav class="navbar navbar-default navbar-fixed-top">
			
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#topBarReelHire" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		
			<a ui-sref="main">
				<img class="navbar-brand topbarCompanyLogo" alt="Brand" src="app/topbar/images/logo_green.png">
				<p class="navbar-text topbarCompanyName">Reel<b>Hire</b></p>
			</a>

	    <!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-right topBarRightMargin" id="topBarReelHire">
				<ul class="nav navbar-nav">		
					<li><a ui-sref="about" data-target="#topBarReelHire">About Us</a></li>
					<li><a style="cursor:pointer;" ng-click="btnToState('login')"  ng-show="inMenu()" data-target="#topBarReelHire">{{ account }}</a></li>
				</ul>
			</div>
		</nav>
</div>
    
<script>
    $(document).on('click','.navbar-collapse.in',function(e) {
        if( $(e.target).is('a') ) {
            $(this).collapse('hide');
        }
    });
</script>