/*TOP BAR*/

.navbar-default
{
	background: white;/* rgb(236,241,242); */
	box-shadow: 0px 0px 4px rgba(54,54,54,0.7);
	z-index: 11;
}

.navbar-toggle
{
    margin-top: 12px;
}

.navbar-nav>li>a
{
    padding-top: 19px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-toggle
{
    color: rgb(54,54,54) !important;
/*    color: rgb(188,196,200) !important;*/
    border-color: rgb(0,176,80) !important;
    font-size: 20px;
}

.navbar-default .navbar-toggle .icon-bar
{
    background: rgb(0,176,80) !important;
}

.topbarCompanyLogo
{
	margin: 14px 0px 0 15px;
	padding: 0;
	margin-right: 10px;
	height: 30px;
	width: 30px;
}

.topbarCompanyName
{
	font-size: 28px;
    line-height: 29px;
/*	color: rgb(0,176,80) !important;*/
    color: rgb(54,54,54) !important;
/*    color: rgb(188,196,200) !important;*/
/*    color: #7D13BF !important;*/
    
	margin-left: 0px;
}

.topBarRightMargin
{
	margin-right: 30px;
}