[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.btnBasicProfile
{
	width: 100%;
	color: rgb(54,54,54);
	border-color: rgb(188,196,200);
	margin-bottom: 10px;
    width: 400px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.btnBasicProfile:hover
{
	background: rgb(188,196,200);
	color: white;
}