<div class="workAreaContainer" ng-controller="TutorialCtrl">
	<section class="resumeSection">
	    <button class="btn btn-default btnBasicProfile" ng-click='funcLogOut()'>Log Out</button>
	    <button class="btn btn-default btnBasicProfile" ng-click='changePwd()'>Change Password</button>
        <button class="btn btn-default btnBasicProfile" ng-click='toggleTutorial()'>Turn {{ tutorialStatus }} Tutorial</button>
	    <button class="btn btn-default btnBasicProfile" ng-click='termsAndConditions()'>Terms and Conditions</button>
	    <button class="btn btn-default btnBasicProfile" ng-click='contactUs()'>Contact Us</button>
        <button class="btn btn-default btnBasicProfile" ng-click='deleteMyProfile()'>{{ deleteMyProfileName }}</button>
	</section>
</div>