<div ng-view class="presentationContainerAbout view animated fadeInDown" ng-controller="TutorialCtrl">
    <div class="backgroundctnrAbout container text-center">  
        <div class="container aboutCompanyLogo">
            <img src="../../app/topbar/images/logo_green.png">
            <span>Reel<b>Hire</b></span>
        </div>
        <p class="aboutCompanyInfo">
            <span>ReelHire is the quickest link between a fantastic new job and a terrific new employee.</span>
            <span>We bridge the Digital Divide by bringing job seekers and employers together instantaneously with brief video resumes.</span>
            <span>"What is a job interview after all, and what is accomplished by meeting face to face?"</span>
            <span>Both employer and employee get a chance to ask questions, judge feedback and make their best case for hiring /placement.</span>
            <span>ReelHire expedites that process and saves both employees and employers precious time and helps to expertly match the right candidate with the right job in the shortest amount of time possible.</span>
        </p>
        <div class="socialMediaIcons">
            <a href="https://www.facebook.com/ReelHire-1688926218036720"><i style="color:#3b5998;" class="fa fa-facebook-official hvr-grow"></i></a>
            <a href="https://www.linkedin.com/company/reelhire"><i style="color:#0177b5;" class="fa fa-linkedin-square hvr-grow"></i></a>
            <a href="https://angel.co/reelhire"><i style="color:rgb(54,54,54);" class="fa fa-angellist hvr-grow"></i></a>
        </div>
    </div>
<!--    <hr>-->
    <div class="testNewColor"></div>
    <div class="testNewColor2"></div>
    
    <div class="backgroundContainerRole">
        <p class="text-center labelChooseRole">Choose Your ReelHire</p>
    
        <div class="container text-center">
            <div class="row">

                <div class="col-md-6 col-sm-6 hero-feature">
                    <div style="border-radius:15px;" class="thumbnail hvr-grow-shadow">
                        <div class="containerJobSeeker">
                            <div  class="aboutCompanyLogoThumbnail">
                                <img src="../../app/topbar/images/logo_green.png">
                                <span class="LogoThumbnailMain">Reel<b>Hire</b></span>
                                <span class="LogoThumbnailSecond1">Job Seekers</span>
                            </div>
                            <img class="thumbnailImageAbout" src="../../../app/topbar/images/rh_seeker.png">
                            <p class="roleDescription">
                                Lets face it; even with a great resume your best asset is just being yourself. ReelHire allows you to display your inner genius to the decision makers who need more than a bland resume to get the job done. If they can get a chance to see the “Reel You” you’ve got a much better chance of landing that job!
                            </p>
                            <button ng-click="btnToState('register','seeker')" class="btn btn-default mainBtnRegister no-border hvr-float-shadow">Get Hired</button>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 hero-feature">
                    <div style="border-radius:15px;" class="thumbnail hvr-grow-shadow">
                        <div class="containerRecruiter">
                            <div  class="aboutCompanyLogoThumbnail">
                                <img src="../../app/topbar/images/logo_green.png">
                                <span class="LogoThumbnailMain">Reel<b>Hire</b></span>
                                <span class="LogoThumbnailSecond2">Employers</span>
                            </div>
                            <img class="thumbnailImageAbout" src="../../../app/topbar/images/rh_employer.png">
                            <p class="roleDescription">
                                Most Managers say they know within a minute whether a person’s personality is right for a job. ReelHire allows you to make those decisions instantaneously, saving you time and money. Putting a face and a personality to a resume gives you the extra edge in all of your hiring decisions.
                            </p>
                            <button ng-click="btnToState('register','recruter')" class="btn btn-default mainBtnRegister no-border hvr-float-shadow">Find Employees</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="testNewColor"></div>
<footer>
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <div class="aboutFooterLogo">
                        <img src="../../app/topbar/images/logo_white.png">
                        <span>Reel<b>Hire</b></span>
                    </div>
                </div>
                <p style="color:white;"><small>&copy; 2016. All Rights Reserved.</small>
            </div>
        </div>
        
    </div>
</footer>