[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.no-border
{
    border-color: rgb(188,196,200) !important;
}

.margin-bottom
{
    padding-bottom: 50px;
}

.backgroundContainerRole
{

    background: -webkit-linear-gradient(white 70%,rgb(236,241,242)95%);
    padding-bottom: 100px;
}

.color4
{
   color: rgb(0,176,80);
}

/*!!!!!!!!!!!!!!!!!!!!!!*/
.testNewColor 
{
    background: rgb(0,176,80);
    width: 100%;
    height: 35px;
}

.testNewColor2
{
    background: #009644;
    width: 100%;
    height: 10px;
}

.testNewColor3
{
    background: #009644;
    width: 100%;
    height: 5px;
}

.aboutCompanyLogo
{
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left:0px;
    padding-right:0px;
/*    color: rgb(188,196,200);*/
    color: rgb(54,54,54);
}

.aboutCompanyLogo img
{
    margin-top: -13px;
    height: 50px;
    width: 50px;
}

.backgroundctnrAbout
{
/*    background-color: -webkit-linear-gradient(red, yellow);*/
    background: -webkit-linear-gradient(white 70%,rgb(236,241,242)95%);
    width: 100%;
}

.aboutCompanyInfo
{
    font-size: 21px;
    text-align: justify;
    padding: 0px 200px 0px 200px;
    margin-bottom: 0px;
}

.labelChooseRole
{
    padding: 20px;
    font-size: 40px;
/*    color: white;*/
    font-weight: bold;
    color: rgb(54,54,54);
/*    color: rgb(188,196,200);*/
}

.aboutCompanyLogoThumbnail
{
    position: relative;
    width: 120px;
    height: 55px;
    margin: 25px auto 15px auto;
    transform: scale(1.3);
}

.aboutCompanyLogoThumbnail img
{
    margin-top: 15px;
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.LogoThumbnailMain
{
    font-size: 18px;
    color: rgb(128,136,140);
}

.LogoThumbnailSecond1,
.LogoThumbnailSecond2
{
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    top:35px;
    right: -24px;
}

.LogoThumbnailSecond2
{
    right: -14px;
}

.roleDescription
{
    font-size: 18px;
    text-align: justify;
    padding: 20px 20px 20px 20px;
}

.thumbnailImageAbout
{
    width: 300px;
    padding: 20px;
}

.containerJobSeeker,
.containerRecruiter
{
/*    height: 350px;*/
}

.containerJobSeeker
{
    
}

.containerRecruiter
{
}

.containerRoles
{
    width:900px;
    margin: 0 auto 0 auto;
}

.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
    box-shadow: 0px 40px 20px -20px rgba(0, 0, 0, 0.3);
/*
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
*/
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
/*    cursor: pointer;*/
}

footer
{
    background: #009845;
/*    background: rgb(0,176,80);*/
    padding-top: 20px;
    padding-bottom: 20px;
}

footer a
{
    color: white !important;
}

footer ul
{
    list-style:none;
    padding-left: 0px;
}

footer ul li
{
    display: inline-block;
    margin: 5px 15px 5px 15px;
}

.aboutFooterLogo
{
    font-size: 20px;
    color: white;
}

.aboutFooterLogo img
{
    margin-top: -7px;
    height: 20px;
    width: 20px;
}

.socialMediaIcons
{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

.socialMediaIcons i
{
    display: inline-block;
    font-size: 40px;
    margin: 0 20px 0 20px;
}

/*mobile devices and narrow screens*/
@media screen and (max-width: 400px) {
    .aboutCompanyLogo
    {
        font-size: 40px;
        padding: 20px;
    }
    
    .aboutCompanyLogo img
    {
        height: 40px;
        width: 40px;
    }
    
    .aboutCompanyInfo
    {
        font-size: 18px;
        padding: 0px 15px 0px 15px;
    }
    
    .socialMediaIcons i
    {
        display: inline-block;
        font-size: 40px;
        margin: 0 15px 20px 15px;
    }
}

@media screen and (max-width: 700px) {
    .aboutCompanyInfo
    {
        padding: 0px 15px 0px 15px;
    }
}

/*high screens*/
@media screen and (min-height: 700px) {
    .aboutCompanyLogo
    {
        margin-top: 100px;
        margin-bottom: 30px;
    }
    
    .aboutCompanyInfo
    {
        margin-bottom: 150px;
    }
    
    .labelChooseRole
    {
        padding-top:70px;
        margin-bottom: 40px;
    }
    
    .margin-bottom
    {
        padding-bottom: 70px;
    }
}


