<div class="workAreaContainer" ng-cloak>
	<section class="resumeSection">
		
		<input ng-model="email.text" id="email" placeholder="Your Email"  ng-pattern="emailPattern" ng-focus="email.error=false" ng-class="{ error: email.error }" class="form-control bottomMarginChangePassword" ng-blur="checkEmail()" type="email"/>
		
		 <input ng-model="oldPassword.text" id="password" placeholder="Old Password" ng-focus="oldPassword.error=false" ng-class="{ error: oldPassword.error }" class="form-control bottomMarginChangePassword" type="password"/>
		 
	    <input ng-model="password.text" id="password" placeholder="New Password" ng-focus="password.error=false; passwordConfirm.error=false" ng-class="{ error: password.error }" class="form-control bottomMarginChangePassword" type="password"/>
	    
	    <input ng-model="passwordConfirm.text" id="passwordConfirm" placeholder="Confirm New Password" ng-focus="password.error=false; passwordConfirm.error=false" ng-class="{ error: passwordConfirm.error }" class="form-control bottomMarginChangePassword" type="password"/>
		
		<div id="buttonChangePwdContainer">
			<button class="btn btn-default btnBackToProfile" ng-click="goBack()">Back to Profile</button>
			<button class="btn btn-default btnChangePwdProfile"  ng-click="changePwd()">Change Password</button>
		</div>
	</section> 
</div>