[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.bottomMarginChangePassword
{
	margin-bottom: 10px;
}

#buttonChangePwdContainer
{
	box-shadow:  rgb(188,196,200);
	width: 320px;
}

.btnBackToProfile
{
	color: rgb(54,54,54);
	border-color: rgb(188,196,200);
	padding-right: 15px;
	float: left;
}

.btnBackToProfile:hover
{
	background: rgb(188,196,200);
	color: white;
}

.btnChangePwdProfile
{
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
	float: right;
}

.btnChangePwdProfile:hover
{
	background: rgb(0,176,80) !important;
	color: white;
}

.buttonResetPwdContainer
{
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
	float: center;
}

.buttonResetPwdContainer:hover
{
	background: rgb(0,176,80) !important;
	color: white;
}

.resetPwd
{
	clear: both;
	margin: 0 auto 0 auto;
	width: 400px;
}