#modalBody
{
/*	font-size: 15px;*/
	text-align: center;
}

#modalBody p
{
/* 	line-height: 1; */
	margin: 0;
	padding: 0;
}

.modal-body
{
	border-radius: 4px 4px 0 0;
	background: white;
}

.modal-footer
{
	position: relative;
	background:rgb(236,241,242);
	border-radius: 0 0 4px 4px;
	padding: 10px;
	text-align: center;
}

.modal-footer>button
{
	margin: 0;
	padding: 6px 20px;
}

#btnOne
{
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
}

#btnOne:hover
{
	background: rgb(0,176,80) !important;
	color: white;
}

#btnTwo
{
	color: rgb(54,54,54);
	border-color: rgb(188,196,200);
}

#btnTwo:hover
{
	background: rgb(188,196,200);
	color: white;
}