<div class="modal-body ctnrWelcomePopUp" id="modalBody">
	
    <div class="welcomeCompanyLogo">
        <img src="../../app/topbar/images/logo_green.png">
        <span>Reel<b>Hire</b></span>
    </div>
    <p class="welcomePopupGreetingLineRecruiter">Welcome to ReelHire!</p>
    <p class="welcomePopupGreetingLineSecond">We hope you’ll like what you see!</p>
    <p class="welcomePopupGreetingLineSecond">We are the quickest way to screen active job seekers.</p>
</div>
<div class="modal-footer">
    <button id="btnOne" class="btn btn-default" type="button" ng-click="btnClickOK()">OK</button>
</div>