<div class="modal-body ctnrWelcomePopUp" id="modalBody">
	
    <div class="welcomeCompanyLogo">
        <img src="../../app/topbar/images/logo_green.png">
        <span>Reel<b>Hire</b></span>
    </div>
    <p class="welcomePopupGreetingLine">Welcome to ReelHire!</p>
    <p class="welcomePopupGreetingLineSecond">We can’t wait to share you with the world!</p>
</div>
<div class="modal-footer">
    <button id="btnOne" class="btn btn-default" type="button" ng-click="btnClickOK()">OK</button>
</div>