[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body{
	background: white;
}

.resumeSection{
	clear: both;
	margin: 0 auto 0 auto;
	width: 830px;
}

.objMargin
{
	margin: 0 15px 15px 0;
}

.bottomMargin
{
	margin: 0 0px 15px 0;
}


/*-------------PHOTO-------------*/

.photoHolder{
	position: relative;
	background-color:rgb(236,241,242); 
	height: 180px;
	width: 180px;
	float: left;
/* 	border-radius: 5px; */
	overflow: hidden;
	cursor: pointer;
	transition: all 0.1s ease-out;
}
.checkBox{
	
}
.checkBoxLabel{
	margin: 5px;
}
#addPhoto
{
	position: absolute;
	bottom: 0;
	width: 180px;
	padding: 5px 0 5px 0;
	text-align: center;
	background: rgb(0,176,80);
	margin: 0;
	font-weight: 700;
	color: white;
}

#photoIcon
{
	position: absolute;
	top:-10px;
	left:0px;
	font-size: 120px;
	color: rgb(188,196,200);
	background-color: rgb(236,241,242);
	padding: 0px 43px 0px 43px;
	
}

#photoImage
{
	height: 180px;
	width: 180px;
}

.photoHolder:hover,
.videoContainer:hover
{
	box-shadow: 0px 0px 5px 1px rgb(188,196,200);
}



/*--------------NAME----------------*/

#inputFirstName,
#inputLastName,
#inputEmail,
#inputZipCode
{
    font-weight: bold;
}

/*------------VIDEO--------------*/

.videoContainer{
	position: relative;
	background: rgb(236,241,242);
	height: 300px;
	width: 407.5px;
	margin: 0 0px 15px 0px;
/* 	border-radius: 5px; */
/* 	border: 1px solid rgb(188,196,200); */
	overflow: hidden;
	cursor: pointer;
	z-index: 0; 
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

#videoMerged
{
    position: relative;
    background: rgb(236,241,242);
    width: 527px;
    height: 288px;
	cursor: pointer;
    margin: 0 15px 15px 0px;
}

#addVideo
{
	position: absolute;
	top: 197px;
	width: 407.5px;
	padding: 5px 0 5px 0;
	text-align: center;
	background: rgb(0,176,80);
	margin: 0;
	font-weight: 700;
	color: white;
	z-index: 1;
}

#videoBack
{
	position: absolute;
	width: 407.5px;
	top: 0px;
	height: 225px;
	background: black;
	z-index: -1;
}
#video
{
	position: absolute;
	width: 407.5px;
	height: 224px;
	z-index: 1;
}

iframe
{
	border-left: 0;
}

#videoQuestion1,#videoQuestion2,#videoQuestion3,#videoQuestion4
{
	position:absolute;
	left: 15px;
    top: 230px;
	width: 350px;
	font-size: 17px;
    text-align: center;
}

#videoIcon
{
	position: absolute;
	top: 5px;
	left: 150px;
	font-size: 120px;
	color: rgb(188,196,200);
}

#mergedVideoContainer
{
	position: relative;
	background: rgb(236,241,242);
}

#videoMerged
{
	margin:0 auto 0 auto;
	width:640px;
}

#deleteButton
{
	position: absolute;
	top:0;
	right: -15px;
	border-radius: 0 0 0 0px;
	padding: 5px 20px;
	border-top: 0px;
	border-right: 0px;
	background: rgb(236,241,242);
	color: #FF5656;

/* 	font-weight: bold; */
	border: 0px solid white;
}

#deleteButton:hover
{
	color: white;
	background: #FF5656;
}

iframe
{
	border: 0px none;
}

/*-------------------------------*/

.nameemail{
	width: 634px;
	float: left;
}


.zipcode{
	width: 235px;
	float: left;
}

#citycountry{
	float: left;
	padding: 6px 0 0 0;
/*	font-size: 15px;*/
	font-weight: 300;
    color: rgb(128,136,140);
}
/*-----------------------------------*/

#inputAdditionalLink, #inputLinkedIn
{
	padding-left:8px;
}

#btnContainerRP
{
	position: relative;
	height: 40px;
}

#btnRestore
{
	position: absolute;
	left: 0;
	width: 200px;
	color: rgb(54,54,54);
	border-color: rgb(188,196,200);
}

#btnRestore:hover
{
	background: rgb(188,196,200);
	color: white;
}

#btnPublish
{
	position: absolute;
	right: 0;
	width: 200px;
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
}

#btnPublish:hover
{
	background: rgb(0,176,80) !important;
	color: white;
}

#inputAdditionalLinkIcon,#inputLinkedInIcon
{
	position: absolute;
	color: rgb(188,196,200);
	font-size: 24px;
	right: 8px;
	z-index: 10;
	top: 0px;
}

/*--------------- PROFESSIONAL INFORMATION CONTAINERS------------*/

.educationContainerSeeker,.areaOSContainerSeeker,.experienceContainerSeeker,.industryDesiredContainerSeeker,.ableToRelocateContainerSeeker,.linkedInContainerSeeker,.additionalLinkContainerSeeker
{
	width: 830px;
	float: left;
	position: relative;
}

.educationContainerSeeker label,.areaOSContainerSeeker label,.experienceContainerSeeker label,.industryDesiredContainerSeeker label,.ableToRelocateContainerSeeker label,.linkedInContainerSeeker label,.additionalLinkContainerSeeker label
{
	float: left;
	padding-top: 6px;
	margin-bottom: 15px;
    color: rgb(128,136,140);
}

.educationContainerSeeker select,.areaOSContainerSeeker select,.experienceContainerSeeker select,.industryDesiredContainerSeeker select,.ableToRelocateContainerSeeker select,.linkedInContainerSeeker input,.additionalLinkContainerSeeker input
{
	float: right;
	width: 700px;
	margin-bottom: 15px
}

