	
<div class="workAreaContainer" ng-controller="TutorialCtrl" ng-cloak>
        
        
	
		<section class="resumeSection">
			<fieldset>
				<div ui-sref="photoUpload" class="photoHolder objMargin" ng-class="{ error: resume.photo.error }" ng-click='setCurrentPhoto("userPhoto",resume.photo.link)' uib-popover="{{ tutorialOnAddingAPhoto }}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true">
				    <p id="photoIcon" ng-show="!isFilled(resume.photo.link)"><i class="fa fa-user"></i></p>
				    <p id="addPhoto" ng-show="!isFilled(resume.photo.link)">Add Photo</p>
				    <img id="photoImage" ng-src="{{resume.photo.link}}"  ng-class="{ error: resume.photo.error }"ng-cloak>
				</div>
				
				<form role="form" class="nameemail">
					<div class="form-group">
						<input ng-model="resume.firstname.text" class="form-control" id="inputFirstName" placeholder="Enter First Name"  ng-focus="resume.firstname.error=false" ng-class="{ error: resume.firstname.error }"/>
					</div>
				
					<div class="form-group">
						<input ng-model="resume.lastname.text" class="form-control" id="inputLastName" placeholder="Enter Last Name"
				                ng-focus="resume.lastname.error=false" ng-class="{ error: resume.lastname.error }"/>
					</div>
					
					<div class="form-group">
						<input ng-model="resume.email.text" class="form-control" id="inputEmail" placeholder="Enter Email"
				               ng-pattern="emailPattern" ng-focus="resume.email.error=false" ng-class="{ error: resume.email.error }" ng-blur="checkEmail()"/>
					</div>
				</form>
				
				<form role="form" class="zipcode">
					<div class="form-group objMargin">
						<input ng-model="resume.zipcode.text" class="form-control" id="inputZipCode" placeholder="Enter Zip Code" ng-focus="resume.zipcode.error=false" ng-class="{ error: resume.zipcode.error }"  ng-blur="checkZip()" ng-disabled="isNoneUS.checked"/>
					</div>
				</form>
				
				<label id="citycountry" ng-show="isZipUS()">{{resume.city}}, {{resume.state}}</label>
				<div ng-show="!isZipUS()">
					<input class="checkBox" type="checkbox" ng-model="isNoneUS.checked" ng-change="changeNoneUS()" checked="isNoneUS.checked">
					
					<label class="checkBoxLabel" >Non US</label>
				</div>
			</fieldset>
		</section>
		
		<section class="resumeSection">
			<fieldset>
				<legend>Video Questions</legend>
            
	            <div id="mergedVideoContainer" class="bottomMargin" ng-show="isFilled(resume.videoMerged.link)" uib-popover="{{ tutorialMergedVideo }}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
	            	<div id="videoMerged" ng-bind-html="resume.videoMerged.html"></div>		
					
					<button id="deleteButton" type="button" ng-click='deleteMergedVideo()' class="btn btn-default objMargin" ng-show="isFilled(resume.videoMerged.link)">Delete</button>
	            </div>
	            
	            <div ng-show="!isFilled(resume.videoMerged.link)"> 
	                <div ui-sref="videoUpload" class="videoContainer floatLeft" ng-click='setCurrentVideoName("resume1",resume.video1.link,"video1",resume.video1.text)' ng-class="{ error: resume.video1.error }" uib-popover="{{ tutorialOnAddingAVideo}}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true" ng-cloak>
		                <p id="videoBack" ng-show="isFilled(resume.video1.html)"></p>
	                    <div ng-bind-html="resume.video1.html" ng-show="isFilled(resume.video1.html)"></div>
	 					<p id="videoIcon" ng-show="!isFilled(resume.video1.html)"><i class="fa fa-video-camera"></i></p>
	 					<p id="addVideo" ng-show="!isFilled(resume.video1.html)">Add Video</p> 
						<p id="videoQuestion1">{{resume.video1.text}}</p>
					</div>
	            
					<div ui-sref="videoUpload" class="videoContainer floatRight" ng-click='setCurrentVideoName("resume2",resume.video2.link,"video2",resume.video2.text)' ng-class="{ error: resume.video2.error }" uib-popover="{{ tutorialOnAddingAVideo}}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true" >
						<p id="videoBack" ng-show="isFilled(resume.video2.html)"></p>
						<div ng-bind-html="resume.video2.html" ng-show="isFilled(resume.video2.html)"></div>
	 					<p id="videoIcon" ng-show="!isFilled(resume.video2.html)"><i class="fa fa-video-camera"></i></p>
	 					<p id="addVideo" ng-show="!isFilled(resume.video2.html)">Add Video</p> 
						<p id="videoQuestion2">{{resume.video2.text}}</p>
					</div>
					
					<div ui-sref="videoUpload" class="videoContainer floatLeft" ng-click='setCurrentVideoName("resume3",resume.video3.link,"video3",resume.video3.text)' ng-class="{ error: resume.video3.error }" uib-popover="{{ tutorialOnAddingAVideo}}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true" >
						<p id="videoBack" ng-show="isFilled(resume.video3.html)"></p>
						<div ng-bind-html="resume.video3.html" ng-show="isFilled(resume.video3.html)"></div>
	 					<p id="videoIcon" ng-show="!isFilled(resume.video3.html)"><i class="fa fa-video-camera"></i></p>
	 					<p id="addVideo" ng-show="!isFilled(resume.video3.html)">Add Video</p> 
						<p id="videoQuestion3">{{resume.video3.text}}</p>
					</div>
					
					<div ui-sref="videoUpload" class="videoContainer floatRight" ng-click='setCurrentVideoName("resume4",resume.video4.link,"video4",resume.video4.text)' ng-class="{ error: resume.video4.error }" uib-popover="{{ tutorialOnAddingAVideo}}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true" >
						<p id="videoBack" ng-show="isFilled(resume.video4.html)"></p>
						<div ng-bind-html="resume.video4.html" ng-show="isFilled(resume.video4.html)"></div>
	 					<p id="videoIcon" ng-show="!isFilled(resume.video4.html)"><i class="fa fa-video-camera"></i></p>
	 					<p id="addVideo" ng-show="!isFilled(resume.video4.html)">Add Video</p> 
						<p id="videoQuestion4">{{resume.video4.text}}</p>
					</div>
				</div>	
			</fieldset>
		</section>

		<section class="form-group resumeSection">
			<fieldset>
				<legend>Professional Information</legend>
				
				<div class="industryDesiredContainerSeeker">
					<label for="industry desired">Industry Desired</label>
	
					<select ng-model="resume.industrydesired.text" class="form-control" ng-options="profession for profession in professions" ng-focus="resume.industrydesired.error=false" ng-class="{ error: resume.industrydesired.error }">
					   <option value="">Select Item</option> 
					</select>
				</div>
				
				<div class="experienceContainerSeeker">
					<label for="experience">Experience</label>
					<select ng-model="resume.experience.text" class="form-control"  ng-options="experience for experience in experiences" ng-focus="resume.experience.error=false" ng-class="{ error: resume.experience.error }">
					   <option value="">Select Item</option> 
					</select>
				</div>
				
				<div class="educationContainerSeeker">
					<label for="education">Education</label>
					<select ng-model="resume.education.text" class="form-control"  ng-options="education for education in educations" ng-focus="resume.education.error=false" ng-class="{ error: resume.education.error }" >
					   <option value="">Select Item</option> 
					</select>
				</div>
				
				<div class="areaOSContainerSeeker">
					<label for="area of study">Area of Study</label>
					<select ng-model="resume.areaofstudy.text" class="form-control" ng-options="profession for profession in professions" ng-focus="resume.areaofstudy.error=false" ng-class="{ error: resume.areaofstudy.error }">
					   <option value="">Select Item</option> 
					</select>
				</div>
				  
				<div class="ableToRelocateContainerSeeker">
					<label for="able to relocate">Able to Relocate</label>
					<select ng-model="resume.abletorelocate.text" class="form-control" ng-options="abletorelocate for abletorelocate in abletorelocateOptions" ng-focus="resume.abletorelocate.error=false" ng-class="{ error: resume.abletorelocate.error }">
					   <option value="">Select Item</option>
					</select>
				</div>
	            
	            <div class="linkedInContainerSeeker"><!--  form-group  -->
	 				<label for="LinkedIn">LinkedIn</label>
	 				<div id="inputLinkedInIcon"><i class="fa fa-linkedin-square"></i></div>
					<input id="inputLinkedIn" ng-model="resume.linkedIn.text" class="form-control" id="inputLinkedIn" placeholder="Link to LinkedIn ( e.g. https://www.linkedin.com/in/yourname )"/>
				</div>
				
	            <div class="additionalLinkContainerSeeker"> <!-- form-group -->
	 				<label for="inputAdditionalLink">Additional Link</label>
	 				<div id="inputAdditionalLinkIcon"><i class="fa fa-external-link-square"></i></div> 
					<input id="inputAdditionalLink" ng-model="resume.additionalLink.text" class="form-control" id="inputAdditionalLink" placeholder="Additional Link"/>
				</div>	            		
			</fieldset>
			
			<div id="btnContainerRP">
				<button id="btnRestore" type="button" class="btn btn-default" ng-show='!isEqualWithServer()' ng-click='restore()' uib-popover="{{ tutorialOnRestore }}" popover-placement="right" popover-trigger="mouseenter" popover-append-to-body="true">Restore</button>
				<button id="btnPublish" type="button" class="btn btn-default" ng-show='!isEqualWithServer(true)' ng-click='publishclick()' uib-popover="{{ tutorialOnPublish }}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true">Save & Get Link</button>
			</div> 
		</section>
		<br>
    </div>
<!-- </div> -->