<div class="workAreaContainer" ng-controller="TutorialCtrl">
	<section class="resumeSection">
		<div ng-repeat="questionnarie in questionnaries | filter:checkForQuestionnarie() | orderBy:anketId" class="questionnaireThumbnail" ng-class="{thumbNew:questionnarie.isNew,thumbOld:!questionnarie.isNew }">
			<img class="thumbLogo" ng-src={{questionnarie.companyLogo}}>
			<p class="thumbCompanyName">{{questionnarie.companyName}}</p>
			<p class="thumbPositionName">{{questionnarie.companyPosition}}</p>
			<p class="thumbStatus">{{status(questionnarie)}}</p>
			<div class="questionnaireButton" ng-click='goToQuestionnarie(questionnarie)' uib-popover="{{ tutorialSeekerNewQuestionnaire }}" popover-placement="bottom" popover-trigger="mouseenter" popover-append-to-body="true"></div>
			<div class="thumbDeleteContainer" ng-click='deleteAnket(questionnarie)'>Delete</div>
		</div>
	</section>
</div>
