.questionnaireThumbnail
{
	position: relative;
	height: 60px;
	margin: 0 auto 10px auto;
/* 	border-radius: 5px; */
	cursor: pointer;
}
.questionnaireButton
{
	position: absolute;
	height: 60px;
	width: 100%;
	padding-right: 82px;
}
.thumbNotification
{
	position: absolute;
	top:16px;
	left: 18px;
	font-size: 20px;
	color: rgb(0,176,80);
	text-align: center;
}

.thumbNew
{
	background: rgb(0,176,80);
	color: white;
}

.thumbNew>.thumbStatus
{
	color: white;
}

.thumbOld
{
	color: rgb(54,54,54);
	background: rgb(236,241,242);
}

.thumbNew:hover
{
	background: rgba(19, 199, 103, 1);
}

.thumbOld:hover
{
	background: #d8dfe1;
}

.thumbOld:hover .thumbStatus,.thumbOld:hover .thumbStatus
{
	color: white;
}

.thumbLogo
{
	position: absolute;
	top:7px;
	left: 18px;
	width: 45px;
	height: 45px;
/* 	border-radius: 50%; */
	border: 0 solid transparent;
	background: white;
	text-align: center;
}

.thumbCompanyName
{
	position: absolute;
	left: 80px;
	top:7px;
	font-size: 15px;
}

.thumbPositionName
{
	position: absolute;
	left: 80px;
	top:28px;
	font-size: 16px;
	font-weight: bold;
}

.thumbStatus
{
	position: absolute;
	right: 100px;
	top:20px;
	color: rgb(188,196,200);
}

.thumbDeleteContainer
{
	position: absolute;
	top:0px;
	right: 0px;
	padding: 19px 20px 19px 20px;
	border-left: 1px solid rgb(188,196,200);
	background: rgb(236,241,242);
	color: #FF5656;
}

.thumbDeleteContainer:hover
{
	background: #FF5656;
	color: white;
}


