<div id="BackToTop"></div>
<div id="MainPageStart" class="presentationAreaContainer" ng-controller="TutorialCtrl"> 
	<div id="fadeInAnimation" class="container text-center fadeInDown animated">
		<div id="mainShortMessage">
            <p class="shortMessageIntro">Hi, we're <span class="unbold">Reel</span>Hire</p>
            <p class="shortMessageExplain">A <span class="color1">Fun</span>, <span class="color2">Simple</span> and <span class="color3">Modern</span> service</p>
            <p class="shortMessageExplain">to match Employers with Job Seekers</p>
        </div>
		
		<button ng-click="btnToState('register','seeker')" class="btn btn-default mainBtnRegister hvr-float-shadow">Get Hired</button>
		
		<button ng-click="btnToState('register','recruter')" class="btn btn-default mainBtnRegister hvr-float-shadow" >Find Employees</button>
        
        <div class="socialMediaIconsMain">
            <a href="https://www.facebook.com/ReelHire-1688926218036720"><i style="color:#3b5998;" class="fa fa-facebook-official hvr-grow"></i></a>
            <a href="https://www.linkedin.com/company/reelhire"><i style="color:#0177b5;" class="fa fa-linkedin-square hvr-grow"></i></a>
            <a href="https://angel.co/reelhire"><i style="color:rgb(54,54,54);" class="fa fa-angellist hvr-grow"></i></a>
        </div>
		
		<label class="mainSeparationBorder">
	    	<span>OR</span>
	    </label>
	    <br>
	    
	    <label style="font-size:17px;">Get ReelHire on your Mobile Device</label>
	    
	    <div class="mainMobilebtnContainers">
			<input type="image" class="mainBtnAppStore" alt="Get it on AppStore" src="../../../app/topbar/images/appstore.png" onclick='location.href="https://itunes.apple.com/us/app/reelhire/id1095079707?mt=8"'/>
			
            <input type="image"  class="mainBtnGooglePlay" alt="Get it on Google Play" src="http://steverichey.github.io/google-play-badge-svg/img/en_get.svg" onclick='location.href="https://play.google.com/store/apps/details?id=com.app.seemehireme"'/>
            
            <div class="ctnrContactUsMainPage">
                <a href="mailto:irina@reelhire.com" class="LinksToInfo">Business Inquiry</a>
                <a class="LinksToInfo" href="http://www.reelhire.com/contactUs">Contact Us</a>
                <a class="LinksToInfo" href="http://www.reelhire.com/privacyPolicy">Privacy Policy</a>
            </div>
	    </div>	
    </div>
</div>


