[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

#mainShortMessage
{
/*	font-size: 60px;*/
    font-size: 70px;
	line-height: 1.1;
    margin-bottom: 5px;
    padding: 15px;
}

.unbold
{
/*    font-weight: normal;*/
}

.color1
{
/*    color: #BC2F6B;*/
    color: rgb(0,176,80);
    font-weight: bold;
}

.color2
{
/*    color: #FEA80D;*/
    color: rgb(0,176,80);
    font-weight: bold;
}

.color3
{
/*    color: #7D13BF;*/
    color: rgb(0,176,80);
    font-weight: bold;
}

.shortMessageIntro
{
    margin-bottom: 20px;
    font-weight: 700;
    color: rgb(54,54,54);
}   

.shortMessageExplain
{
/*    font-size: 35px;*/
    font-size: 40px;
}

.shortMessageExplain span
{
    font-weight: bold;
}

.testVideoContainer
{
    height: 500px;
    width: 60%;
}

.mainBtnRegister,
.mainBtnContinue
{
	width: 250px;
	padding: 12px 0 12px 0;
	display: block;
	margin: 0px auto 17px auto;
    font-size: 18px;
/*    font-weight: bold;*/
}

.mainBtnRegister
{
/*    border: 1px solid rgb(0,176,80) !important;*/
/*    border-color: rgb(188,196,200);*/
/*	color: rgb(0,176,80);*/
    border-color: rgb(54,54,54);
    color: rgb(54,54,54);
}

.mainBtnRegister:hover,
.mainBtnRegister:active,
.mainBtnRegister:focus
{
    background: rgb(0,176,80) !important;
	color: white !important;
    outline: none !important;
    border-color: transparent !important;
}

.mainBtnContinue
{
    color: rgb(54,54,54);
/*	border-color: rgb(188,196,200);*/
    border-color: rgb(54,54,54);
}

.mainBtnContinue:hover,
.mainBtnContinue:active
{
    background: rgb(188,196,200);
	color: white !important;
    outline: none !important;
}

.mainSeparationBorder
{
	position: relative;
    height: 2px;
    border-top: 0px solid transparent;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(to right, transparent, rgb(188,196,200), transparent);
    border-image-slice: 1;
    margin-bottom: 10px;
	margin-top: 15px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.mainSeparationBorder span
{
	position: relative;
	width: 40px;
	margin: 0px auto 0 auto;
	top:-8px;
	padding: 0 10px 0 10px;
	background: white;
}

.mainMobilebtnContainers
{
	padding-top: 20px;
	width: 290px;
	margin: 0 auto 30px auto;
}

.mainBtnAppStore
{
	width: 122px;
    float: left;
    border-radius: 6px;
}

.mainBtnAppStore svg
{
	height: 100px;
}

.mainBtnGooglePlay
{
    float: right;
	width: 135px;
    height: 42px;
}

.socialMediaIconsMain
{
    font-size: 30px;
}

.socialMediaIconsMain i
{
    margin: 0 20px 0 20px;
}

.ctnrVideoMainPage
{
    clear: both;
    background: rgb(236,241,242);
    margin-bottom: 50px;
    background: rgb(236,241,242);
    border: 10px solid rgb(236,241,242);
}

.linkToMainVideo
{
    color:rgb(0,176,80) !important;
}

.ctnrContactUsMainPage
{
    padding-top: 30px;
    clear: both;
    text-align: center;
    width: 350px;
    margin-left: -35px;
}

.LinksToInfo
{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    color: rgb(0,176,80);
    cursor: pointer;
}

.LinksToInfo:hover
{
    text-decoration: underline;
    color: rgb(0,176,80);
}

/*until 650px*/
@media screen and (max-width: 650px) {
    #mainShortMessage
    {
        font-size: 32px;
    }
    
    .shortMessageExplain
    {
        font-size: 18px;
    }
    
    .mainBtnAppStore svg
    {
        height: 80px;
    }
    
    .LinksToInfo
    {
        display: block;
    }
}

@media screen and (max-height: 500px) {
    #mainShortMessage
    {
        margin-top:0px;
    }
    
    
}












	