[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.widthSendToLegend
{
	width: 830px;
	padding: 0;
}

.fieldsEmailFrom,.fieldsSendTo,.fieldsSubject,.fieldBody
{
	margin: 0;
	padding: 0;
	line-height: 0;
	margin-bottom: 8px;
}

.emailSendTo
{
	width: 100%;
}
.emailTitle
{
	padding-bottom:0;
	padding-right:0;
	padding-left:0;
	vertical-align:top;
	text-align:center;
	font-family:sans-serif;
/*	font-size:15px;*/
}
#emailBody
{
	height: 100px;
}
#texts
{
	Margin-top:0;
	font-weight:normal;
	font-family:sans-serif;
	Margin-bottom:15px;
	text-align:center;
/*	font-size:13px;*/
	line-height:19px;
	color:#97a3b1;
	Margin:0;	
}

.candidateContainer
{
	position: relative;
	background: #ecf0f1;
	width: 830px;
	margin-top: 10px;
}

#photoContainer
{
	padding:10px;
}

#photo
{
	height: 100px; 
	width: 108px;
	padding: 0 8px 0 0;
}
#nameContainer
{
	line-height: 4px; 
	width: 300px; 
	padding: 0 0 10px 0;
}

#name
{
	font-size: 17px;
}

#candidateName
{
/*	font-size:15px;*/
	text-align:left;
	line-height: 12px;
	margin: 10px 0 10px 0; 
}


#button
{
	background-color:#00b050;
/* 	background-image:url(https://ci4.googleusercontent.com/proxy/ChBP_41qDYr8x91W2c0rpRHMwoXqlIeceNVE8UWfNQEiYEdttMV7S3DXUDAlikXy0TwT1_79DClMEDkbORHUjJr3zOJgnRkpv_nf8Rme=s0-d-e1-ft#https://img.createsend1.com/img/onboarding/btn-green.png); */
	background-repeat:repeat-x;
	border-width:1px;
	border-style:solid;
	border-color:#00b050;
	border-radius:3px;
	color:#ffffff;
/*	font-size:13px;*/
	text-align:center;
	text-decoration:none;
	font-weight: bold;
	width:130px;
	height: 30px;
	cursor: pointer;
	padding: 7px;
}

#btnContainerSendTo
{
	position: relative;
	height: 40px;
	margin-top:12px;
	width: 100%;
}

#btnSend
{
	position: absolute;
	right: 0;
	width: 200px;
	height: 40px;
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
}

#btnSend:hover
{
	background: rgb(0,176,80) !important;
	color: white;
}

.logoOnSendContainer
{
	position: absolute;
	top:38px;
	right: 30px;
	height: 40px;
	width: 40px;
}









