    <div class="workAreaContainer" ng-cloak>
		<section class="resumeSection">
			
			<form role="form" class="emailSendTo" >
				
                <div class="row">
                    <div class="col-md-6">
                        <label for="emailFrom">Email From</label>
                        <div class="fieldsEmailFrom">
                            <input ng-model="emailFrom.text" class="form-control" id="emailFrom" placeholder="Email From" ng-pattern="emailPattern"
                                    ng-focus="emailFrom.error=false" ng-class="{ error: emailFrom.error }" ng-blur="checkEmailFrom()"/>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <label for="emailTo">Email To</label>
                        <div class="fieldsSendTo">
                            <input ng-model="emailTo.text" class="form-control" id="emailTo" placeholder="Email To" ng-disabled="emailToDisable" ng-pattern="manyEmailsPattern"
                                    ng-focus="emailTo.error=false" ng-class="{ error: emailTo.error }" ng-blur="checkEmailTo()" ng-change="onChangeEmail()"/>
                        </div>
                    </div>
                </div>
				
				<label for="subject">Subject</label>
				<div class="fieldsSubject">
					<input ng-model="subject.text" class="form-control" id="subject" placeholder="Subject"
                        ng-focus="subject.error=false" ng-class="{ error: subject.error }" />
				</div>
				
				<label for="emailBody">Email Body</label>
				<div class="fieldBody">
					<textarea style="resize: none;" ng-model="emailBody" class="form-control" id="emailBody" placeholder="Email Body"/>
				</div>

			</form>
			
			<fieldset ng-show='showCandidates()'>
				<table>
					<tr>
						<p class="emailTitle">{{emailTitle}}</p>
					</tr>
				</table>
				<legend class="widthSendToLegend">Email Content</legend>
					<div ng-repeat="candidate in candidateList">
						
						<div class="candidateContainer">
							<table>
							 <tr>
							 	<td id="photoContainer">
								 	<img ng-src= "{{candidate.photoLink}}" id="photo" ng-cloak>
							 	</td>
							 	<td> 
									<div id="nameContainer">
										<p id="candidateName">{{candidate.firstName}}</p>
										<p id="candidateName">{{candidate.lastName}}</p>
									</div>
									
									<img class="logoOnSendContainer" src="../../app/topbar/images/logo.png">
							  
									<div title="Link to full version" style="padding: 0 0 20px 0;">
										<a href='http://reelhire.com/{{idToHash(candidate.resumeId,"webResume")}}' id="button" target="_blank">Go To Resume</a>
									</div>
							 	</td>
							 </tr>
							</table>
						</div>
						
					</div>
					<br>
						<tr>
						    <td  class="emailTitle" >

						    </td>
						</tr>
						  
						<tr>
						    <td  class="emailTitle" >
						      <p id="texts" >
						      	The ReelHire Team. Email: info@reelhire.com
						      </p>
						    </td>
						</tr>
						  
						<tr>
						    <td  class="emailTitle" >
						      <p id="texts" >
<!-- 						     <a href="http://www.google.com/policies/privacy/" style="color:#00b050;text-decoration:underline;" >Privacy Policy</a></p> -->
						    </td>
						</tr>
						<br>
			</fieldset>
			
			<div id="btnContainerSendTo">
					<button id="btnSend" type="button" class="btn btn-default" ng-click='sendEmail()'>Send</button>
			</div>
				
		</section>
		<br>
 </div>
