<div class="workAreaContainer" ng-controller="TutorialCtrl">
	<section class="resumeSection">
			
			<fieldset>
				<div class="photoHolder objMargin" ng-click='setCurrentPhoto("userPhoto",resume.companyLogo)' ng-class="{ error: error.companyLogo }" uib-popover="{{ tutorialRecruiterOnAddingAPhoto }}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true" ng-disabled="anket.ispublished=='True'">
				    <p id="photoIconRecruiter" ng-show="!isFilled(anket.companyLogo)"><i class="fa fa-university"></i></p> 
				    <p id="addPhoto" ng-show="!isFilled(anket.companyLogo)">Add Company Photo</p>
				    <img id="photoImage" ng-src="{{anket.companyLogo}}" ng-cloak>
				</div>
				
				<form role="form" class="nameemail">
					<div class="form-group">
						<input ng-model="anket.companyName" class="form-control" id="inputCompanyName" placeholder="Enter Company Name"
				                ng-focus="error.companyName=false" ng-class="{ error: error.companyName }" ng-disabled="anket.ispublished=='True'"/>
					</div>
					
					<div class="form-group">
						<input type="textarea" ng-model="anket.companyPosition" class="form-control" id="inputPositionName" placeholder="Enter Position Name"
				               ng-focus="error.companyPosition=false" ng-class="{ error: error.companyPosition }" ng-disabled="anket.ispublished=='True'"/>
					</div>
					
					<div class="form-group">
						<textarea id="txtarAdditionalInfo" class="form-control" style="resize: none;" placeholder="Salary, details, etc." ng-model="anket.companyInfo" ng-class="{ error: error.companyInfo }" ng-focus="error.companyInfo=false" ng-disabled="anket.ispublished=='True'"/>
					</div>
				</form>
			
			</fieldset>
			
			<fieldset class="basicInformationFromCandidate" uib-popover="{{ tutorialRecruiterBasicInformation }}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true">
				<legend>Information you will automatically receive from a candidate:</legend>
				<span>First Name <i class="fa fa-check"></i></span>
				<span>Last Name <i class="fa fa-check"></i></span>
				<span>E-mail <i class="fa fa-check"></i></span>
				<span>City/State <i class="fa fa-check"></i></span>
				<span>Highest Level of Education <i class="fa fa-check"></i></span>
				<span>Area of Study <i class="fa fa-check"></i></span>
				<span>Years of Work Experience <i class="fa fa-check"></i></span>
				<span>Industry Desired <i class="fa fa-check"></i></span>
				<span>If He or She is Able to Relocate <i class="fa fa-check"></i></span>
			</fieldset>
			
			<fieldset>
				<legend>Ask candidate a Video Question</legend>
				
				<div class="recruiterQuestionContainer width" uib-popover="{{ tutorialRecruiterQuestions }}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
					<p class="recruiterQuestionIcon"><i class="fa fa-video-camera"></i></p>
					<div class="form-group recruiterQuestion">
						<textarea rows="3" class="form-control" style="resize: none;" placeholder="Write Your Question Here" ng-model="anket.video1_title" ng-class="{ error: error.video1_title }" ng-focus="error.video1_title=false" ng-disabled="anket.ispublished=='True'"/>
					</div>
				</div>
				
				<div class="recruiterQuestionContainer width" uib-popover="{{ tutorialRecruiterQuestions }}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
					<p class="recruiterQuestionIcon"><i class="fa fa-video-camera"></i></p>
					<div class="form-group recruiterQuestion">
						<textarea rows="3" class="form-control" style="resize: none;" placeholder="Write Your Question Here" ng-model="anket.video2_title" ng-focus="error.video1_title=false" ng-disabled="anket.ispublished=='True'"/>
					</div>
				</div>
				
				<div class="recruiterQuestionContainer width" uib-popover="{{ tutorialRecruiterQuestions }}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
					<p class="recruiterQuestionIcon"><i class="fa fa-video-camera"></i></p>
					<div class="form-group recruiterQuestion">
						<textarea rows="3" class="form-control" style="resize: none;" placeholder="Write Your Question Here" ng-model="anket.video3_title" ng-focus="error.video1_title=false" ng-disabled="anket.ispublished=='True'"/>
					</div>
				</div>
				
				<div class="recruiterQuestionContainer width" uib-popover="{{ tutorialRecruiterQuestions }}" popover-placement="top" popover-trigger="mouseenter" popover-append-to-body="true">
					<p class="recruiterQuestionIcon"><i class="fa fa-video-camera"></i></p>
					<div class="form-group recruiterQuestion">
						<textarea rows="3" class="form-control" style="resize: none;" placeholder="Write Your Question Here" ng-model="anket.video4_title" ng-focus="error.video1_title=false" ng-disabled="anket.ispublished=='True'"/>
					</div>
				</div>
				
				<div id="labelPublishedQuestionnaire" ng-show="anket.ispublished=='True'">
					<label >PUBLISHED</label>
				</div>
			</fieldset>
			
			<div id="btnContainerRecruiter">
				<button id="btnPublishRecruiter" type="button" class="btn btn-default" ng-click='publishclick()' uib-popover="{{ tutorialRecruiterQuestionairePublish }}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true" ng-hide="anket.ispublished=='True'">{{textSend()}}</button>
                
				<button id="btnPublishRecruiter" type="button" class="btn btn-default" ng-click='send()' uib-popover="{{ tutorialRecruiterQuestionairePublish }}" popover-placement="left" popover-trigger="mouseenter" popover-append-to-body="true" ng-show="anket.ispublished=='True'&&isSelectedCandidates()">Send</button>
			</div>
		</section>
		<br>
</div>