.recruiterQuestionContainer
{
	position: relative;
}

.recruiterQuestionIcon
{
	position: absolute;
	font-size: 30px;
	color: rgb(188,196,200);
}

#btnContainerRecruiter {
    position: relative;
    height: 40px;
    text-align: center;
}

#btnPublishRecruiter
{
    margin-top: 5px;
	width: 200px;
	border: 1px solid rgb(0,176,80) !important;
	color: rgb(0,176,80);
}

#btnPublishRecruiter:hover
{
	background: rgb(0,176,80) !important;
	color: white;
}

#inputCompanyName,
#inputPositionName,
#txtarAdditionalInfo,
.recruiterQuestion
{
    font-weight: bold;
}

.recruiterQuestion
{
	padding: 0 0 0 5%;
}

#labelPublishedQuestionnaire
{
	text-align: center;
}

#txtarAdditionalInfo
{
	height: 82px;
}

#photoIconRecruiter
{
	position: absolute;
	top:-10px;
	left:0px;
	font-size: 120px;
	color: rgb(188,196,200);
	background-color: rgb(236,241,242);
	padding: 0px 26px 0px 26px;
	
}

.basicInformationFromCandidate
{
	margin-bottom: 5px;
}

.basicInformationFromCandidate span
{
	float: left;
	background: rgb(236,241,242);
	padding: 5px;
	margin: 0 10px 10px 0;
}

.basicInformationFromCandidate span i
{
	color: rgb(0,176,80);
}